﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The PharmaMart</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/css/style.css")
    @Styles.Render("~/css/forms.css")
    @Styles.Render("~/css/forms-btn.css")
    @Styles.Render("~/css/menu.css")
    @Styles.Render("~/css/style_text.css")
    @Styles.Render("~/css/datatables.css")
    @Styles.Render("~/css/fullcalendar.css")
    @Styles.Render("~/css/pirebox.css")
    @Styles.Render("~/css/modalwindow.css")
    @Styles.Render("~/css/statics.css")
    @Styles.Render("~/css/tabs-toggle.css")
    @Styles.Render("~/css/system-message.css")
    @Styles.Render("~/css/tooltip.css")
    @Styles.Render("~/css/wizard.css")
    @Styles.Render("~/css/wysiwyg.css")
    @Styles.Render("~/css/wysiwyg.modal.css")
    @Styles.Render("~/css/wysiwyg-editor.css")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.backgroundPosition.js"></script>
    <script type="text/javascript" src="~/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.ui.1.8.17.js"></script>
    <script type="text/javascript" src="~/js/jquery.ui.select.js"></script>
    <script type="text/javascript" src="~/js/jquery.ui.spinner.js"></script>
    <script type="text/javascript" src="~/js/superfish.js"></script>
    <script type="text/javascript" src="~/js/supersubs.js"></script>
    <script type="text/javascript" src="~/js/jquery.datatables.js"></script>
    <script type="text/javascript" src="~/js/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.smartwizard-2.0.min.js"></script>
    <script type="text/javascript" src="~/js/pirobox.extended.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="~/js/jquery.elastic.source.js"></script>
    <script type="text/javascript" src="~/js/jquery.customInput.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/js/jquery.filestyle.mini.js"></script>
    <script type="text/javascript" src="~/js/jquery.filter.input.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.graphtable-0.2.js"></script>
    <script type="text/javascript" src="~/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="~/js/controls/wysiwyg.image.js"></script>
    <script type="text/javascript" src="~/js/controls/wysiwyg.link.js"></script>
    <script type="text/javascript" src="~/js/controls/wysiwyg.table.js"></script>
    <script type="text/javascript" src="~/js/plugins/wysiwyg.rmFormat.js"></script>

    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/js/grid.locale-en.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery.jqGrid.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/json2.js"></script>
    <script src="~/Scripts/js/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>

    <link rel="icon" href="~/skin/frontend/default/megashop-pink/images/favicon.png" type="image/x-icon" />

</head>
<body>
    @*<form name="searchForm" id="searchForm"></form>*@
    <div id="wrapper">
        <div id="container" style="margin-top: 18px; position:relative">

            <div class="hide-btn top">
                <br />
            </div>
            <div class="hide-btn center"></div>
            <div class="hide-btn bottom"></div>

            <div id="top">
                <h1>
                    <img src="~/skin/frontend/default/megashop-pink/images/logo.png" style="width: 125px; padding: 0 0 10px 25px; border-left-width: 0px;" alt="The PharmaMart">
                </h1>
                <div id="labels">
                    <ul>
                        <li>
                            <a href="#" class="user">
                                <span class="bar">
                                    <span id="lblLoginUser">Welcome Admin</span>
                                </span>
                            </a>
                        </li>
                        @*<li><a href="#" class="settings"></a></li>
                        <li class="subnav">
                            <a id="lnkNotifications" class="messages"></a>
                        </li>*@
                        <li class="subnav">
                            <a href="~/Home/Logout" id="LinkButton1" class="logout" title="logout"></a>
                        </li>
                        <li></li>
                    </ul>

                </div>
                <div id="menu">
                    <ul>
                        <li class="current"><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/AddProducts">Add Products</a></li>
                        @*<li><a href="#">Search Orders</a></li>*@
                        @*<li><a href="#">View Product</a></li>*@
                        @*<li id="liUserInfo"><a href="#">User Info</a></li>*@
                        @*<li><a href="#">Super Category</a></li>*@
                        <li><a href="~/Home/SearchProducts">Search Products</a></li>
                        <li><a href="~/Home/AddPackage">Add Packages</a></li>
                        <li><a href="~/Home/SearchPackages">Search Packages</a></li>
                        <li><a href="~/Home/SearchOrders">Search Orders</a></li>
                    </ul>
                </div>
            </div>
            <div id="left">
                <div class="box submenu">
                    <div class="content">
                        <ul>
                            <li>
                                <a href="#">Inventory Management </a>
                                <ul>
                                    <li><a href="~/Home/SuperCategoryInventory">Super Category Inventory</a></li>
                                    <li><a href="~/Home/CategoryInventory">Category Inventory</a></li>
                                    <li><a href="~/Home/SubCategoryInventory">Sub Category Inventory</a></li>
                                    <li><a href="~/Home/ProductTypeInventory">Product Type Inventory</a></li>
                                    <li><a href="~/Home/ProductSubTypeInventory">Product Sub TypeInventory</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Home/AddProducts">Add Products</a></li>
                            <li><a href="~/Home/AddPackage">Add Packages</a></li>
                            <li><a href="~/Home/SearchProducts">Search Products</a></li>
                            <li><a href="~/Home/SearchPackages">Search Packages</a></li>
                            <li><a href="~/Home/SearchOrders">Search Orders</a></li>
                            <li>
                                <a href="#">Order Management </a>
                                <ul>
                                    <li><a href="~/Home/AuthorizedOrders">AuthorizedOrders</a></li>
                                    <li><a href="~/Home/PickupOrders">PickUp Orders</a></li>
                                    <li><a href="~/Home/DispatchedOrders">Dispatched Orders</a></li>
                                    <li><a href="~/Home/DeliveredOrders">Delivered Orders</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Home/UsersList">User Management</a></li>
                            <li>
                                <a href="#">Banner Management </a>
                                <ul>
                                    <li><a href="~/Home/AddBanners">Add Banners</a></li>
                                    <li><a href="~/Home/SearchBanners">Search Banners</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Coupon Management </a>
                                <i class="icon mdi mdi-accounts-outline" />
                                <ul>
                                    <li><a href="~/Home/AddCoupon">Add Coupon</a></li>
                                    <li><a href="~/Home/SearchCoupons">Search Coupon</a></li>
                                </ul>
                            </li>
                            @*<li id="liRefund"><a href="#">Refund</a></li>
        <li id="liPaymentSatus"><a href="#">Payment Status</a></li>
        <li id="liNotify"><a href="#">Notify me Products</a></li>
        <li id="liTransaction"><a href="#">Transaction Details</a></li>
        <li id="liPaymentGateway"><a href="#">PaymentGateway Status</a></li>
        <li id="liPerformance"><a href="#">Performance Indicator<span style="background: #08931a; color: #fff; padding: 3px; font-weight: bold; font-size: 10px;">NEW</span></a></li>*@
                        </ul>
                    </div>
                </div>

                @*<div class="box statics" id="divstatistics">
                        <div class="content">
                            <ul>
                                <li>
                                    <h2>Statistics</h2>
                                </li>
                                <li>
                                    Total Products
                                    <div class="info black">
                                        <a href="#">
                                            <label ID="lblTotalProducts"></label>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    Active Products
                                    <div class="info green">
                                        <a href="#">
                                            <label ID="lblActiveProducts"></label>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    In-Active Products<div class="info red">
                                        <a href="#">
                                            <label ID="lblInActiveProducts"></label>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    Out of stock Products
                                    <div class="info blue">
                                        <a href="#">
                                            <label ID="lblOutofstock"></label>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>*@

                <div class="box togglemenu">
                    <div class="content">
                    </div>
                </div>
            </div>
            <div id="right">
                <div class="section">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
