﻿@model IEnumerable<Utility.OrdersList>

@{
    string productName = "";
    string packageName = "";
}

<div class="widget_title">
    <span class="iconsweet">r</span>
    <h5>Available Orders</h5>
</div>
<div class="table-responsive" style="overflow-x:initial;">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Product / Package
                </th>
                <th>
                    User
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Mode
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="~/Home/OrderDetails/@item.paymentTransactionId" Style="color:red">@item.paymentTransactionId</a>
                    </td>
                    <td>
                        @if (item.packageName != null && item.packageName.Count() > 0)
                        {
                            packageName = item.packageName[0];
                            <strong>@packageName</strong><br/>
                        }
                        @for (int i = 0; i < item.productName.Count(); i++)
                        {
                            if (i == 0)
                            {
                                productName = item.productName[i];
                                @productName;
                            }
                            else
                            {
                                if (item.productName[i] != null)
                                {
                                    productName = ", " + item.productName[i];
                                    //productName = productName + ", " + item.productName[i];
                                    @productName;
                                }
                            }
                        }
                        @*@for (int i = 0; i < item.packageName.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    packageName = item.packageName[i];
                                    <br /> @packageName;
                                }
                                else
                                {
                                    if (item.packageName[i] != null)
                                    {
                                        packageName =  ", " + item.packageName[i];
                                        @packageName;
                                    }
                                }
                            }*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TxnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orderCurrentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TxnAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>*@

<script type="text/javascript">
            //$(document).ready(function ($) {
            //    $('#table').dataTable();
            //});
</script>


