/*
Template Name: CleanDream
Author: Rory Kranendonk
Author URI: http://www.dreamwire.nl
Version: 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);

#menu ul, #menu ul * {
	margin : 0;
	padding : 0;
	list-style-type : none;
}
#menu ul {
	line-height : 1.0;
}

#menu ul ul {
	position : absolute;
	top : -999em;
	width : 10em;
}
#menu ul ul li {
	width : 100%;
}
#menu ul li:hover {
	visibility : inherit;
}
#menu ul li {
	float : left;
	position : relative;
}
#menu ul a {
	display : block;
	position : relative;
}
#menu ul li:hover ul,
#menu ul li.sfHover ul {
	left : 0;
	top : 28px; /* match top ul list item height */
	z-index : 99;
}
#menu ul li:hover li ul,
#menu ul li.sfHover li ul {
	top : -999em;
}
#menu ul li li:hover ul,
#menu ul li li.sfHover ul {
	left : 10em;
	top : 0;
}
#menu ul li li:hover li ul,
#menu ul li li.sfHover li ul {
	top : -999em;
}
#menu ul li li li:hover ul,
#menu ul li li li.sfHover ul {
	left : 10em;
	top : 0;
}

#menu ul {
    float: left;
    padding: 1px 0 0;
    font: 13px/1.0em 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#menu ul li{
	background : none;
	border-right : 1px solid #d9d9d9;
}

#menu ul ul{
	border-bottom : 1px solid #d9d9d9;
	padding : 1px 0 0;
	margin : 0 0 0 -1px;
}

#menu ul ul ul{
	margin : -1px 0 0 0;
}

#menu ul li a, #menu ul li a:link, #menu ul li a:active, #menu ul li a:visited{
	position : relative;
	z-index : 999;
	border-left : 1px solid #f9f9f9;
	padding : 8px 20px 0;
	color : #868686;
	text-decoration : none;
	white-space : nowrap;
	height : 20px;
}

#menu ul li li a, #menu ul li li a:link, #menu ul li li a:active, #menu ul li li a:visited,
#menu ul li.current li a, #menu ul li.current li a:link, #menu ul li.current li a:active, #menu ul li.current li a:visited  {
	position : relative;
	z-index : 999;
	background : #f9f9f9;
	border : 0;
	border-top : 1px solid #dcdcdc;
	border-left : 1px solid #d9d9d9;
	padding : 7px 20px;
	font : 12px Arial;
	color : #575757;
	text-transform : none;
	text-decoration : none;
	overflow : hidden;
	white-space : nowrap;
	height : auto;
}

#menu ul li:hover, #menu ul li.sfHover,
#menu ul li a:focus, #menu ul li a:hover,
#menu ul li li a:focus, #menu ul li li a:hover{
	outline : 0;
}

#menu ul li.current a, #menu ul li.current a:link, #menu ul li.current a:active, #menu ul li.current a:visited,
#menu ul li.current li.current a, #menu ul li.current li.current a:link, #menu ul li.current li.current a:active, #menu ul li.current li.current a:visited,
#menu ul li:hover, #menu ul li.sfHover a,
#menu ul li a:focus, #menu ul li a:hover{
	color : #000000;
}

#menu ul li.current a, #menu ul li.current a:link, #menu ul li.current a:active, #menu ul li.current a:visited{
	background : url(../gfx/menu-current.gif) repeat-x left top;
}

#menu ul li.current li.current a, #menu ul li.current li.current a:link, #menu ul li.current li.current a:active, #menu ul li.current li.current a:visited,
#menu ul li li.current a, #menu ul li li.current a:link, #menu ul li li.current a:active, #menu ul li li.current a:visited,
#menu ul li li a:focus, #menu ul li li a:hover,
#menu ul li.current li a:focus, #menu ul li.current li a:hover{
	background : #FFFFFF;
}

#menu ul li li.current li a, #menu ul li li.current li a:link, #menu ul li li.current li a:active, #menu ul li li.current li a:visited,
#menu ul li.current li.current li a, #menu ul li.current li.current li a:link, #menu ul li.current li.current li a:active, #menu ul li.current li.current li a:visited {
	background : #f9f9f9;
}

#menu ul li li.current li a:focus, #menu ul li li.current li a:hover,
#menu ul li.current li.current li a:focus, #menu ul li.current li.current li a:hover,
#menu ul li.current li.current li.current a, #menu ul li.current li.current li.current a:link, #menu ul li.current li.current li.current a:active, #menu ul li.current li.current li.current a:visited {
	background : #FFFFFF;
}