/* Basic Style */
body {
	font-family: 'Orienta', sans-serif;
	color: #252525;
	position: relative;
	padding:0;
	margin: 0;
}

.container {
	width:1000px;
	margin: 0 auto;
	padding: 10px 0;
}


label.mobile_menu span {
	margin-left: 10px;
	color: white;
	display: none;
}

.nav {
 
	font-family: 'Orienta', sans-serif; 
	font-weight: 300; /* 400 thinner */
	font-size: 13px;
	line-height: 35px;
	
	position: relative;
	padding: 0 0 0 0px; /* Fix for inline-block spacing*/
	margin: 0;

	

 
    background-color:#d9387e;
}
/*.nav li:nth-child(1) { background-color:#7aac4c;}*/
 


.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus, span {
	color: #fff;
	text-decoration: none;
}


.nav > li {
	display: inline-block;
	text-align: center;
/* For the inline-block spacing */
}

.nav > li {
	display: inline-block;
	text-align: center;
	
/* For the inline-block spacing */
}


.nav > li > a {
	padding:12px 16px;
	display: block;
}

.nav > li:hover > a{
	color: #fff;
	
}

.nav > li:hover {
	background-color: #66bcda;

}



.nav > li > ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	background-color: #f00;
		text-align:center;
	margin-top:30px;
	padding: 0px;
	z-index: 99;
}


.nav > li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}


.nav li > ul li {
	font-size: 11px;
	position: relative;
	display: block;
	padding: 15px 10px;
}

.nav > li > ul  li:hover {
	background-color: #006191;
}

.nav ul  li:hover > a {
	color: white;
}

.nav > li > ul li ul li:hover {
	background-color: #004b6f;
}input#mobile_menu { display: none; }

.nav > li > ul li ul li ul {
	background-color: #004b6f;
}

.nav > li > ul li ul li ul li:hover {
	background-color: #00344d;
}



.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	left: 0px;
	background-color: #fff;
	
	width: 99.8%;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
}


.nav > li:hover .fulldrop {
	opacity: 1;
	visibility: visible;
	margin-top:7px;
	
box-shadow:1px 1px 10px rgba(0,0,0,0.2);
	border-top:none;
}

.nav ul li:hover:after {
	color:#fff;
}

.nav > li:hover .coldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
	
}

.nav .coldrop .column {width: 130px;margin:0 0px;}



.nav .column {
	width: 14.1%;
	float: left;
	color:white;
	margin: 0 0 0 2.4%;
}

.nav .column ul {
	padding: 0;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height:25px;
	
}

.nav .column h3 {
	font-size: 14px;

	font-weight: 400;
	/*margin: 5px 0 5px 0;*/
	color:#000;
	display:block;
	width:100%;
	line-height:25px;
	background-color:#f8f8f8;
	padding-left:10px;
	font-weight:bold;
	
	
}
.nav .column h3:hover {
	font-size: 14px;
	line-height:25px;
	font-weight: 400;
	/*margin: 5px 0 5px 0;*/
	color:#d93b80;
	width:100%;
	background-color:#f8f8f8;
	padding-left:10px;
	font-weight:bold;
}

.nav .column ul li a {
	display: block;
/*	padding: 0 0 -5px 0;*/
	color:#333333;
	padding-left:10px;
}
.nav .column ul li a:hover {
	display: block;
	width:100%;
	padding-left:10px;
	line-height:25px;
/*	padding: 0 0 -5px 0;*/
	color:#d93b80;
	background-color:#f8f8f8;
}

/* Arrows */
.nav > li.dropdown > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li.dropdown:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
/* <!-- margin-top: 2px; #CCC-->*/
}


.nav > li.search {
	
	-webkit-box-shadow:  none;
    box-shadow:  none;
    float: right;
    padding: 11px 6px;
    position: relative;
}

.nav > li.search:hover {
	background-color: transparent;
}


.nav > li  input {
	padding: 7px 6px 6px 38px;
	margin: 0 5px;
	color:#fff;
	
	background-color: #fff;
	font-size: 14px;
	
	
	
}

.nav > li  input:focus {
	outline: none;
	border-color: #f00;
}

.nav > li.search i {
	position: absolute;
	left: 20px;
	top:20px;
	color: #fff;
	font-size: 17px;
}
