﻿
@{
    ViewBag.Title = "AddCoupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1 class="page-head-title">Add Coupon</h1>
    </div>
    <div>
        <div class="widget">
            <div class="widget_title relative_position">
                <span class="iconsweet">r</span>
                <h5>
                    <label id="ctl00_ctl00_Main_Main_legSelProduct">Coupon Details</label>
                </h5>
            </div>
            <div class="widget_body">
                @if (TempData["CouponError"] != null)
                {
                    <div role="alert" class="alert alert-danger alert-dismissible">
                        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                            <span aria-hidden="true" class="mdi mdi-close"></span>
                        </button><span class="icon mdi mdi-close-circle-o"></span>
                        <strong>@TempData["CouponError"]</strong>
                    </div>
                }
                <!--Basic Elements-->
                @using (Html.BeginForm("AddCoupon", "Home", FormMethod.Post, new { @class = "form-horizontal group-border-dashed", enctype = "multipart/form-data" }))
                {
                    <br />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Coupon Code</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="Coupon_Code" placeholder="Coupon Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Valid From</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Valid From" id="txtValidFrom" name="Valid_From" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Valid To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Valid To" id="txtValidTo" name="Valid_To" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Min.Cart Amount</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="Min_Cart_Value" placeholder="Cart Amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Max. Discount Amount</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="Max_Discount_Value" placeholder="Maximum Discount Amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Discount Type</label>
                        <div class="col-sm-6">
                            @*@Html.DropDownListFor(m => m.Coupon_Discount_Type_Id, Model.Coupon_Discount_Type_Value, "Please select")*@

                            @Html.DropDownList("Coupon_Discount_Type_Id", new SelectList(ViewBag.CouponDiscountTypes, "Coupon_Discount_Type_Id", "Coupon_Discount_Type"), "Select", new { @class = "form-control" })
                            @*<select id="ddlCoupon_Discount_Type_Id" name="Coupon_Discount_Type_Id" class="form-control">
                                    <option value="0">Select</option>
                                    <option value="1">Amount</option>
                                    <option value="2">Percentage</option>
                                </select>*@
                        </div>
                    </div>
                    <div class="form-group hide" id="divAmount">
                        <label class="col-sm-3 control-label">Discount Amount(Rs.)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtDiscountAmount" name="" placeholder="Discount Amount" />
                        </div>
                    </div>
                    <div class="form-group hide" id="divPercentage">
                        <label class="col-sm-3 control-label">Discount Percentage(%)</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtDiscountPercentage" name="" placeholder="Discount Percentage" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Max.Total No of Times Usage</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" placeholder="Max. Total No of Times Usage" name="Total_No_Of_Times_Usage" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Max.No Of Time Usage User</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" placeholder="Max. No Of Time Usage/User" name="No_Of_Usages_Per_User" />
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Add Coupon</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<script src="../sc/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/lib/perfect-scrollbar/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/main.js" type="text/javascript"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/lib/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../assets/lib/jquery.nestable.js" type="text/javascript"></script>
    <script src="../assets/lib/moment.min.js" type="text/javascript"></script>
    <script src="../assets/lib/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../assets/lib/select2/select2.min.js" type="text/javascript"></script>
    <script src="../assets/lib/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>*@

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
</script><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>

    $('#txtValidFrom').datepicker({
        minDate: 0
    });

    $('#txtValidTo').datepicker({
        minDate: 0
    });

    $('#Coupon_Discount_Type_Id').change(function () {

        var discAmount = document.getElementById("txtDiscountAmount");
        var discPercentage = document.getElementById("txtDiscountPercentage");

        if ($('#Coupon_Discount_Type_Id').val() == 1) {
            $('#divAmount').removeClass('hide');
            $('#divPercentage').addClass('hide');
            discPercentage.setAttribute("name", "");
            discAmount.setAttribute("name", "Coupon_Discount_Type_Value");
        }
        if ($('#Coupon_Discount_Type_Id').val() == 2) {
            $('#divAmount').addClass('hide');
            $('#divPercentage').removeClass('hide');
            discAmount.setAttribute('name', "");
            discPercentage.setAttribute('name', 'Coupon_Discount_Type_Value');
        }
        if ($('#Coupon_Discount_Type_Id').val() == 0) {
            $('#divAmount').addClass('hide');
            $('#divPercentage').addClass('hide');
            discAmount.setAttribute('name', "");
            discPercentage.setAttribute("name", "");
        }
    });


    //$("#dpValidFrom").datepicker({
    //    minDate: 0
    //});

    //$("#dpValidTo").datepicker({
    //    minDate: 0
    //});
</script>

<style>
    .ui-datepicker-calendar a, .ui-datepicker-calendar a:link {
        text-align: center;
        padding: 0;
    }
</style>