﻿@model IEnumerable<Utility.OrdersList>

@{
    ViewBag.Title = "DeliveredOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string productName = "";
    string packageName = "";
}

<h2>Delivered Orders</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    Order Id
                </th>
                <th>
                    Product / Package
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Mode
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.paymentTransactionId)
                    </td>
                    <td>
                        @for (int i = 0; i < item.productName.Count(); i++)
                        {
                            if (i == 0)
                            {
                                productName = item.productName[i];
                                @productName;
                            }
                            else
                            {
                                if (item.productName[i] != null)
                                {
                                    productName = productName + ", " + item.productName[i];
                                    @productName;
                                }
                            }
                        }
                        @for (int i = 0; i < item.packageName.Count(); i++)
                        {
                            if (i == 0)
                            {
                                packageName = item.packageName[i];
                                <br /> @packageName;
                            }
                            else
                            {
                                if (item.packageName[i] != null)
                                {
                                    packageName = packageName + ", " + item.packageName[i];
                                    @packageName;
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TxnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TxnAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
