﻿@model Utility.PackageInfo

@{
    ViewBag.Title = "EditPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />

<script type="text/javascript">
                    tinyMCE.init({
                        // General options
                        mode: "textareas",
                        theme: "advanced",
                        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

                        // Theme options
                        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
                        theme_advanced_toolbar_location: "top",
                        theme_advanced_toolbar_align: "left",
                        theme_advanced_statusbar_location: "bottom",
                        theme_advanced_resizing: true,

                        // Example content CSS (should be your site CSS)
                        content_css: "css/content.css",

                        // Drop lists for link/image/media/template dialogs
                        template_external_list_url: "lists/template_list.js",
                        external_link_list_url: "lists/link_list.js",
                        external_image_list_url: "lists/image_list.js",
                        media_external_list_url: "lists/media_list.js",

                        // Style formats
                        style_formats: [
                            { title: 'Bold text', inline: 'b' },
                            { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                            { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                            { title: 'Example 1', inline: 'span', classes: 'example1' },
                            { title: 'Example 2', inline: 'span', classes: 'example2' },
                            { title: 'Table styles' },
                            { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                        ],

                        // Replace values for the template plugin
                        //        template_replace_values: {
                        //            username: "Some User",
                        //            staffid: "991234"
                        //        }
                    });
</script>
<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Edit Package</label>
        </h1>
    </div>
    @if (ViewBag.PackageStatus != null)
    {
        <div class="bg-success text-white padd_15">
            <i class="fa fa-check"></i> @ViewBag.PackageStatus
        </div>
    }
    <div>
        <div class="widget">
            <div class="widget_title relative_position">
                <span class="iconsweet">r</span>
                <h5>
                    <label id="ctl00_ctl00_Main_Main_legSelProduct">Package Details</label>
                </h5>
            </div>
            @using (Html.BeginForm("EditPackageInfo", "Home", FormMethod.Post))
            {
                <input type="hidden" value="@Model.packageDetails.Package_Id" name="Package_Id" />
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Name:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control" required value="@Model.packageDetails.Package_Name" name="Package_Name" id="" />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Type:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <select class="form-control" name="Package_Type_Id" id="">
                                            <option value="0">Select Package Type</option>
                                            @if (Model.packageDetails.Package_Type_Id == 1)
                                            {
                                                <option value="1" selected>Direct Package</option>
                                                <option value="2">Customizable Package</option>
                                            }
                                            else if (Model.packageDetails.Package_Type_Id == 2)
                                            {
                                                <option value="1">Direct Package</option>
                                                <option value="2" selected>Customizable Package</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Expiry:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control" required value="@Model.packageDetails.Package_Expiry_Date" name="Package_Expiry" id="datepicker" />
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Min Products Count:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="number" class="form-control" required value="@Model.packageDetails.Package_Min_Products_Count" name="Package_Min_Products_Count" />
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Min Amount:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="number" class="form-control" required value="@Model.packageDetails.Package_Min_Amount" name="Package_Min_Amount" />
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Description:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <textarea class="form-control" rows="5" name="package_Description" id="">@Model.packageDetails.Package_Description</textarea>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label class="form-control-static">
                                    Package Products:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div class="col-lg-9 row">
                                <div class="col-lg-6">
                                    <input type="text" id="plugins" name="plugins" onkeyup="getAllProductsList()" class="form-control" placeholder="Search Products" style="width:190px;" />
                                    <input type="hidden" id="hdnProductId" />
                                    <input type="hidden" id="hdnProductQuantity" />
                                    <input type="hidden" id="hdnImagePath" />
                                    <input type="hidden" id="packageProducts" name="packageProducts" />
                                </div>
                                <div class="col-lg-6">
                                    <input type="button" value="Add" class="btn btn-primary btn-xs" onclick="AddProductToPackage()" />
                                </div>
                                <div id="last_Product_loader" style="margin-top:35px !important;"></div>
                                <div id="All_Product-list"></div>
                                <br />
                                <div class="form-group clearfix show-img" id="divImageInfo"></div>
                            </div>
                            @{
                                int j = 0;
                            }
                            @foreach (var data in Model.productInfo)
                            {
                                <div class="col-md-3 box" id="@data.Product_Id">
                                    <div class=" text-center">
                                        <a href="javascript:;" onclick="DeleteProductFromPackage(@data.Product_Id)" class="text-black pull-right" style="font-size:20px;padding-bottom:9px;text-decoration:none;">x</a>
                                        @if (Model.galleryInfo[j] == null)
                                        {
                                            j++;
                                            <img src="" alt="No Product Image" class="img-responsive" /><br />
                                        }
                                        else
                                        {
                                            j++;
                                            <img src="@Model.galleryInfo.Where(x=>x.Product_Id==data.Product_Id).FirstOrDefault().Img_Url" alt="image" class="img-responsive" /><br />
                                        }
                                        <p>@data.Product_Name</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" required readonly value="@data.Quantity" style="min-width:60px;" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" required id="qty_@data.Product_Id" name="Product_quantity" value="@Model.packageProducts.Where(x=>x.Product_Id==data.Product_Id).FirstOrDefault().Package_Product_Quantity" max="@data.Quantity" style="min-width:60px;" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Package Quantity:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="number" class="form-control" required min="0" value="@Model.packageDetails.Package_Quantity" name="package_Quantity" id="" />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Actual Cost:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control" required min="0" value="@Model.packageDetails.Package_Actual_Cost" name="Actual_Cost" id="txtProductCost" onkeyup="CostCaluclations();" />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Discount(%):
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control" required min="0" value="@Model.packageDetails.Package_Discount_Percentage" name="Discount_Percentage" id="txtProductDiscount" onkeyup="CostCaluclations();" />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Final Cost:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control" required min="0" value="@Model.packageDetails.Package_Final_Cost" name="Final_Cost" id="txtProductCostAfterDiscount" onkeyup="DiscountCaluclations();" />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }

        </div>
        @*<div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>*@
    </div>
</div>

<script type="text/javascript">
    var productIds = [];

    $(document).ready(function () {
    var data=@Html.Raw(Json.Encode(Model.packageProducts));
        data.forEach(function (product) {
            productIds.push(product.Product_Id);
            $('#packageProducts').val(productIds);
        });
    });

    function AddProductToPackage() {
        var productId = $('#hdnProductId').val();
        var productName = $('#plugins').val();
        var quantity = $('#hdnProductQuantity').val();
        $('#plugins').val('');

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getProudtcGallery?productId=' + productId,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                $('#divImageInfo').append('<div class="col-md-4 box" id="' + productId + '"><div class=" text-center"><a href="javascript:;" onclick="DeleteProductFromPackage(' + productId + ')" class="text-black pull-right" style="font-size:20px;padding-bottom:9px;text-decoration:none;">x</a><img src="' + data + '" alt="image" class="img-responsive" /><br /><p>' + productName + '</p></div><div class="row"><div class="col-lg-6"><input type="text" class="form-control" readonly value="' + quantity + '"  style="min-width:60px;" /></div><div class="col-lg-6"><input type="number" class="form-control" id="qty_' + productId + '" name="Product_quantity" max="' + quantity + '" style="min-width:60px;"/></div></div></div>');
                productIds.push(productId);
                $('#packageProducts').val(productIds);
            }
        });
    }

    function DeleteProductFromPackage(productId) {
        $('#' + productId).hide();
        for (var i = productIds.length - 1; i >= 0; i--) {
            if (productIds[i] == productId) {
                productIds.splice(i, 1);
            }
        }
        $('#packageProducts').val(productIds);
    }

    function getAllProductsList() {
        var searchText = $('#plugins').val();
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/SearchAutoCompleteProductList?sord=' + searchText,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                var html = '<ul class="lists">';
                data.forEach(function (product) {
                    html += '<li><a onclick=ProductSearchcomplete("' + product.Product_Id + '","' + product.Product_Name.replace(/ /g, "-") + '","' + product.Quantity + '")>' + product.Product_Name + '</a></li>';
                });
                html += '</ul>';
                $('#last_Product_loader').html(html);
            }
        });
    }

    function ProductSearchcomplete(ProductId, ProductName, quantity) {
        $('#hdnProductId').val(ProductId);
        $('#plugins').val(ProductName);
        $('#hdnProductQuantity').val(quantity);
        $('#All_Product-list').hide();
        $('.lists').hide();
    }

    $(function ($) {

        var plugin_names = [];

        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }
        $("#plugins").autocomplete({ source: plugin_names });
        $("ul.ui-autocomplete").css("left", "450px");

    });
    $(".show-img").hide();

    $('#plugins').on('change', function () {
        $(".show-img").show();
    });

    $("#datepicker").datepicker({
    minDate:0
    });
</script>

<style>
    ul.ui-autocomplete {
        padding-left: 0;
        list-style-type: none;
        border: black 1px solid;
        display: inline-block;
    }

        ul.ui-autocomplete li:hover {
            background-color: gray;
        }

    .ui-helper-hidden-accessible {
        display: none;
    }

    .ui-datepicker-calendar a, .ui-datepicker-calendar a:link {
        text-align: center;
        padding: 0;
    }
</style>