﻿@model Utility.Def_Super_Categories

@{
    ViewBag.Title = "EditSuperCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />

<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Edit SuperCategory</label>
        </h1>
    </div>
    <div>
        @if (ViewBag.SuperCatInfo != null)
        {
            <h4>
                @ViewBag.SuperCatInfo
            </h4>
        }
    </div>
    <div>
        @using (Html.BeginForm("EditSuperCategory", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="widget">
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Super Category
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control input-sm" name="Super_Category_Name" value="@Model.Super_Category_Name" required />
                                        <input type="hidden" value="@Model.Super_Category_Id" name="Super_Category_Id" />
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>
        }
    </div>
</div>