﻿@model Utility.ProductInfo

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />

<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode: "textareas",
        theme: "advanced",
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        content_css: "css/content.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url: "lists/template_list.js",
        external_link_list_url: "lists/link_list.js",
        external_image_list_url: "lists/image_list.js",
        media_external_list_url: "lists/media_list.js",

        // Style formats
        style_formats: [
            { title: 'Bold text', inline: 'b' },
            { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            { title: 'Example 1', inline: 'span', classes: 'example1' },
            { title: 'Example 2', inline: 'span', classes: 'example2' },
            { title: 'Table styles' },
            { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ],

        // Replace values for the template plugin
        //        template_replace_values: {
        //            username: "Some User",
        //            staffid: "991234"
        //        }
    });
</script>

@using (Html.BeginForm("EditProductInfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
        <div id="activity_stats">
            <h1>
                <label id="ctl00_ctl00_Main_Main_lblPageTitle">Edit Product</label>
            </h1>
        </div>
        <div>
            <div class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label id="ctl00_ctl00_Main_Main_legSelProduct">Product Details</label>
                    </h5>
                </div>
                <input type="hidden" value="@Model.productData.Product_Id" name="Product_Id" />
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Super Categories
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (ViewBag.SuperCategories == null)
                                        {
                                            <select id="ddlSuperCategories" class="form-control input-sm" onchange="selectCategories()"></select><br />
                                        }
                                        else
                                        {
                                            <select id="ddlSuperCategories" class="form-control input-sm" onchange="selectCategories()">
                                                <option value="0">Select</option>
                                                @foreach (var super in ViewBag.SuperCategories)
                                                {
                                                    if (super.Super_Category_Id == Model.superCategoryInfo.Super_Category_Id)
                                                    {
                                                        <option value="@super.Super_Category_Id" selected>@super.Super_Category_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@super.Super_Category_Id">@super.Super_Category_Name</option>
                                                    }
                                                }
                                            </select><br />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Categories:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <select id="ddlCategories" onchange="selectSubCategories()" class="form-control input-sm"><option>@Model.categoryInfo.Category_Name</option></select><br />
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Sub Category:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <select id="ddlSubCategories" name="Sub_Category_Id" class="form-control input-sm"><option value="@Model.subCategoryInfo.Sub_Category_Id">@Model.subCategoryInfo.Sub_Category_Name</option></select>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Product Name:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control input-sm" name="Product_Name" placeholder="Product Name" value="@Model.productData.Product_Name" id="txtProductName" onkeyup="SearchAllProducts()" />
                                        <div id="last_Product_loader"></div>
                                    </span>
                                </div>
                                <div id="All_Product-list" style="position:absolute;margin-top:37px;margin-left:120px;z-index:999999;background:#fff;width:400px;">
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Brand:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control input-sm" placeholder="Brand" name="Brand_Name" value="@Model.brandInfo.Brand_Name" id="txtProductBrand" onkeyup="SearchAllBrands()" />
                                        <div id="last_Brand_loader"></div>
                                    </span>
                                    @*<div id="last_Brand_loader"></div>*@
                                </div>
                                <div id="All_Brand-list" style="position:absolute;margin-top:37px;margin-left:120px;z-index:999999;background:#fff;width:400px;">
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Generic Name:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control input-sm" required placeholder="Generic Name" name="Generic_Name" id="txtProductGenericName" value="@Model.genericName" onkeyup="SearchAllGenericNames()" />
                                        <div id="last_Generic_loader"></div>
                                    </span>
                                    @*<div id="last_Brand_loader"></div>*@
                                </div>
                                <div id="All_Generic-list" style="position:absolute;margin-top:37px;margin-left:120px;z-index:999999;background:#fff;width:400px;">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="ctl00_ctl00_Main_Main_divPrdDes" class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Product Description</label>
                    </h5>
                </div>

                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Short Description:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <textarea class="form-control input-sm" id="txtShortDescription" name="Short_Description" rows="3">@Model.productData.Short_Description</textarea>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Full Description:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <textarea class="form-control input-sm" id="txtFullDescription" rows="3" name="Full_Description">@Model.productData.Full_Description</textarea>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Features:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <textarea class="form-control input-sm" id="txtFeatures" rows="3" name="Features">@Model.productData.Features</textarea>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Products Settings</label>
                    </h5>
                </div>

                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Is Prescription Needed:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (Model.productData.Is_Prescription_Needed == true)
                                        {
                                            <input type="checkbox" name="Is_Prescription_Needed" value="true" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="Is_Prescription_Needed" value="false" />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Is Featured:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (Model.productData.Is_Featured == true)
                                        {
                                            <input type="checkbox" name="Is_Featured" value="true" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="Is_Featured" value="false" />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget basic-info">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Basic Information</label>
                    </h5>
                </div>
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <div id="divProductInfo">
                            <li>
                                <div class="two_colfields">
                                    <label>
                                        Product Type:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                @if (ViewBag.ProductTypes == null)
                                                {
                                                    <select id="ddlProductType" onchange="selectProductsubTypes()" class="form-control input-sm"></select>
                                                }
                                                else
                                                {
                                                    <select id="ddlProductType" onchange="selectProductsubTypes()" class="form-control input-sm">
                                                        <option value="0">Select</option>
                                                        @foreach (var type in ViewBag.ProductTypes)
                                                        {
                                                            if (Model.productTypeInfo != null)
                                                            {
                                                                if (type.Product_Type_Id == Model.productTypeInfo.Product_Type_Id)
                                                                {
                                                                    <option value="@type.Product_Type_Id" selected>@type.Product_Type</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@type.Product_Type_Id">@type.Product_Type</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.Product_Type_Id">@type.Product_Type</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="two_colfields">

                                    <label>
                                        Product Sub Type:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                @if (Model.subProductTypeInfo != null)
                                                {
                                                    <select id="ddlProductSubType" class="form-control input-sm" name="Product_Sub_Type_Id"><option value="@Model.subProductTypeInfo.Product_Sub_Type_Id">@Model.subProductTypeInfo.Product_Sub_Type</option></select>
                                                }
                                                else
                                                {
                                                    <select id="ddlProductSubType" class="form-control input-sm" name="Product_Sub_Type_Id"></select>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="two_colfields">
                                    <label>
                                        Product Sub Type Inventory:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="number" class="form-control input-sm" min="0" placeholder="Product Sub Type Inventory" value="@Model.productData.Product_Sub_Type_Inventory" name="Product_Sub_Type_Inventory" id="txtProductSubTypeInventory" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="two_colfields">

                                    <label>
                                        Product Quantity:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="number" id="txtProductQuantity" class="form-control input-sm" min="0" value="@Model.productData.Quantity" placeholder="ProductQuantity" name="Quantity" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="two_colfields">

                                    <label>
                                        Product Actual Cost:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="number" class="form-control input-sm" min="0" placeholder="Product Actual Cost" value="@Model.productData.Actual_Cost" name="Actual_Cost" id="txtProductCost" onkeyup="CostCaluclations();" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="two_colfields">
                                    <label>
                                        Product Discount (%):
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="number" class="form-control input-sm" min="0" placeholder="Product Discount" name="Discount_Percentage" value="@Model.productData.Discount_Percentage" id="txtProductDiscount" onkeyup="CostCaluclations();" />
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="two_colfields">

                                    <label>
                                        Product Final Cost:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="number" class="form-control input-sm" min="0" placeholder="Product Final Cost" name="Final_Cost" id="txtProductCostAfterDiscount" value="@Model.productData.Final_Cost" onkeyup="DiscountCaluclations();" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="ctl00_ctl00_Main_Main_lblCat">
                                <label>
                                    <label>
                                        Have SubProducts:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>
                                </label>
                                <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                    <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                        <span id="Span2" class="oneThree">
                                            @if (Model.productData.Have_SubProducts == true)
                                            {
                                                <input type="checkbox" name="Have_SubProducts" value="true" checked data-toggle="modal" data-target="#myModal" />
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Show Sub Products</button>
                                            }
                                            else
                                            {
                                                <input type="checkbox" data-toggle="modal" data-target="#myModal" name="Have_SubProducts" value="false" />
                                            }
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Product Images</label>
                    </h5>
                </div>

                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li>
                            <label>
                                <label>
                                    Product Image:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <div class="col-sm-10 row">
                                            <input id="uploadFile" type="text" disabled="disabled" class="form-control input-sm" placeholder="Choose File" />
                                        </div>
                                    </span>
                                    <div class="file-upload btn btn-primary col-sm-2">
                                        <span>Upload</span>
                                        <input type="file" id="files" name="image_file_arr" multiple class="form-control input-sm" />
                                    </div>
                                    <div class="col-sm-12 row">
                                        <output id="list"></output>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="List">
                                @foreach (var data in Model.productGallery)
                                {
                                    <span>
                                        <img class="thumbs" src="../@data.Img_Url" />
                                        <span class="remove_img_previews"></span>
                                    </span>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget basic-info">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Additional Information</label>
                    </h5>
                </div>

                <div class="widget_body">
                    <ul class="form_fields_container">
                        <div id="divProductInfo">
                            <li>
                                <div class="two_colfields">
                                    <label>
                                        Meta Keywords:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="text" class="form-control input-sm" name="Meta_Keywords" value="@Model.productData.Meta_Keywords" id="txtMetaKey" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="two_colfields">
                                    <label>
                                        Meta Description:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="text" class="form-control input-sm" name="Meta_Description" value="@Model.productData.Meta_Description" id="txtMetaDesc" />
                                            </span>
                                            @*<div id="last_Brand_loader"></div>*@
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li>
                                <div class="two_colfields">
                                    <label>
                                        Flavored Products:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="text" class="form-control input-sm" placeholder="Flavored Product" id="txtFlavoredProduct" onkeyup="SearchFlavoredProducts()" />
                                                <div id="last_Flavored_loader"></div>
                                            </span>
                                            @*<div id="last_Brand_loader"></div>*@
                                        </div>
                                        <div id="All_Flavored-list" style="position:relative;margin-top:37px;margin-left:120px;z-index:999999;background:#fff;width:400px;">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="label-tags" id="flavoredTags">
                                    </div>
                                    <input type="hidden" name="flavoredProducts" id="flavoredString" />
                                </div>

                                <div class="two_colfields">

                                    <label>
                                        Related Products:
                                    </label>
                                    <span class="cp_mandatory_field">*</span>

                                    <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                        <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                            <span id="Span2" class="oneThree">
                                                <input type="text" class="form-control input-sm" placeholder="Related Products" id="txtRelatedProduct" onkeyup="SearchRelatedProducts()" />
                                                <div id="last_Related_loader"></div>
                                            </span>
                                            @*<div id="last_Brand_loader"></div>*@
                                        </div>
                                        <div id="All_Related-list" style="position:relative;margin-top:37px;margin-left:120px;z-index:999999;background:#fff;width:400px;">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="label-tags" id="RelatedTags">
                                    </div>
                                    <input type="hidden" name="relatedProducts" id="relatedString" />
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                @*<button type="submit">Submit</button>*@
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>

        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:#333;">Add Sub Products</h4>
                </div>
                <div class="modal-body">
                    <table id="dynamicTable1">
                        <thead>
                            <tr>
                                <th>Pack Of</th>
                                <th>Pack Of Discount</th>
                                <th>Final Cost</th>
                            </tr>
                        </thead>
                        <tbody id="addNewRow">
                            @{
                                int i = 0;
                            }
                            @if (Model.subProductsInfo != null)
                            {
                                foreach (var data in Model.subProductsInfo)
                                {
                                    <tr id="@i">
                                        <td><input type="hidden" id="hdnSubProductId" value="subProductInfo[@i].Sub_Product_Id" name="subProductInfo[@i].Sub_Product_Id" /> <input type="text" class="form-control input-sm" name="subProductInfo[@i].Pack_Of_Products_Count" id="Pack_@i" onkeyup="CostEditSubProductCaluclations(@i)" value="@data.Pack_Of_Products_Count" /></td>
                                        <td>
                                            <input type="text" class="form-control input-sm" name="subProductInfo[@i].Pack_Of_Products_Discount_Percentage" id="PackDisc_@i" onkeyup="CostEditSubProductCaluclations(@i);" value="@data.Pack_Of_Products_Discount_Percentage" />
                                        </td>
                                        <td><input type="text" class="form-control input-sm" name="subProductInfo[@i].Pack_Of_Products_Final_Cost" readonly id="finalPackOfCost_@i" value="@data.Pack_Of_Products_Final_Cost" /></td>
                                        <td><button type="button" class="remove bt" onclick="RemoveSubProduct(@data.Sub_Product_Id,@i)">Remove</button></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                    <input type="hidden" id="totalRows" value="@i" />
                    <input type="button" class="btn btn-primary btn-sm" id="addrow" onclick="AddnewRow()" value="Add New Row" />

                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
}

<script src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    var ids = $('#totalRows').val();
    function AddnewRow() {
        $('#addNewRow').append('<tr id=' + ids + '><td><input type="hidden" id="hdnSubProductId" name="subProductInfo[' + ids + '].Sub_Product_Id" value="subProductInfo[' + ids + '].Sub_Product_Id" /><input type="text" class="form-control input-sm" name="subProductInfo[' + ids + '].Pack_Of_Products_Count"  onkeyup="CostEditSubProductCaluclations(' + ids + ')" id="Pack_' + ids + '" /></td><td><input type="text" class="form-control input-sm" name="subProductInfo[' + ids + '].Pack_Of_Products_Discount_Percentage" onkeyup="CostEditSubProductCaluclations(' + ids + ');"  id="PackDisc_' + ids + '" /></td><td><input type="text" class="form-control input-sm" name="subProductInfo[' + ids + '].Pack_Of_Products_Final_Cost" readonly id="finalPackOfCost_' + ids + '" /></td><td><button type="button" class="remove btn btn-danger btn-sm" onclick="RemoveRow(' + ids + ')">Remove</button></td></tr>');
        ids++;
        $('#totalRows').val(ids);
    }

    function RemoveRow(rowId) {
        var row = document.getElementById(rowId);
        row.parentNode.removeChild(row);
    }

    function RemoveSubProduct(subProductId, rowId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../../../Home/RemoveSubProduct?subProductId=' + subProductId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var row = document.getElementById(rowId);
                row.parentNode.removeChild(row);
            }
        });
    }

    function getProductsubTypes(rowId) {
        var productTypeId = $('#ddlProductType_' + rowId).val();
        if (productTypeId == 0) {

        } else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../../../Home/ProductSubType?TypeId=' + productTypeId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    data.forEach(function (type) {
                        html += '<option value="' + type.Product_Sub_Type_Id + '">' + type.Product_Sub_Type + '</option>';
                    });
                    $('#ddlProductSubType_' + rowId).html(html);
                }
            });
        }
    }

    $(document).ready(function () {
        document.getElementById("files").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };

        var count = 0;
        function handleFileSelect(evt) {
            var $fileUpload = $("input#files[type='file']");
            count = count + parseInt($fileUpload.get(0).files.length);

            if (parseInt($fileUpload.get(0).files.length) > 6 || count > 5) {
                alert("You can only upload a maximum of 5 files");
                count = count - parseInt($fileUpload.get(0).files.length);
                evt.preventDefault();
                evt.stopPropagation();
                return false;
            }
            var files = evt.target.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/><span class="remove_img_preview"></span>'].join('');
                        document.getElementById('list').insertBefore(span, null);
                    };
                })(f);

                reader.readAsDataURL(f);
            }
        }

        $('#files').change(function (evt) {
            handleFileSelect(evt);
        });

        $('#list').on('click', '.remove_img_preview', function () {
            $(this).parent('span').remove();

            //this is not working...
            var i = array.indexOf($(this));
            if (i != -1) {
                array.splice(i, 1);
            }
            // tried this too:
            //$(this).parent('span').splice( 1, 1 );

            count--;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#divSubProductInfo').hide();
    });

    function selectCategories() {
        var superCatId = $('#ddlSuperCategories').val();
        if (superCatId == 0) {
            $('#ddlCategories').val('0');
            $('#ddlSubCategories').val('0');
        } else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../../../Home/CategoriesBySuperCategory?superCatId=' + superCatId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    data.forEach(function (category) {
                        html += '<option value="' + category.Category_Id + '">' + category.Category_Name + '</option>';
                    });
                    $('#ddlCategories').html(html);
                }
            });
        }
    }

    function selectSubCategories() {
        var catId = $('#ddlCategories').val();
        if (catId == 0) {

        } else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../../../Home/SubCategoriesByCategory?CatId=' + catId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    data.forEach(function (subCat) {
                        html += '<option value="' + subCat.Sub_Category_Id + '">' + subCat.Sub_Category_Name + '</option>';
                    });
                    $('#ddlSubCategories').html(html);
                }
            });
        }
    }

    function AddNew() {
        $('#divSubProductInfo').append('<li><label><label></label></label><div id = "ctl00_ctl00_Main_Main_dvStoreWithLabel"><div id="ctl00_ctl00_Main_Main_dvStoreCategory"><span id="Span2" class="oneThree"><input type="hidden" />&nbsp;</span><span id="Span2" class="oneThree"><input type="text" placeholder="Sub Product Name" /></span><span id="Span2" class="oneThree"><input type="text" placeholder="Quantity" /></span><span id="Span2" class="oneThree"><input type="text" placeholder="Original Cost" /></span><span id="Span2" class="oneThree"><input type="text" placeholder="Discount (%)" /></span><span id="Span2" style="margin-top:15px;" class="oneThree"><input type="text" placeholder="Final Cost"  readonly /></span><span id="Span2" class="oneThree"><input type="button" style="margin-top:15px" value="Add New" onclick="AddNew()" /></span></div></div ></li >');
    }

    function selectProductsubTypes() {
        var productTypeId = $('#ddlProductType').val();
        if (productTypeId == 0) {

        } else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../../../Home/ProductSubType?TypeId=' + productTypeId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    data.forEach(function (type) {
                        html += '<option value="' + type.Product_Sub_Type_Id + '">' + type.Product_Sub_Type + '</option>';
                    });
                    $('#ddlProductSubType').html(html);
                }
            });
        }
    }

    function SearchAllBrands() {
        var searchText = $('#txtProductBrand').val();
        $.ajax({
            url: '../../../Home/SearchAllBrandList?sord=' + searchText,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var html = '<ul class="lists">';
                data.forEach(function (brand) {
                    html += '<li><a onclick=BrandAutocomplete("' + brand.Brand_Name + '")>' + brand.Brand_Name + '</a></li>';
                });
                html += '</ul>';
                $('#last_Brand_loader').html(html);
            },
            error: function (x, y, z) {
                var data;
            }
        });
    }

    function SearchFlavoredProducts() {
        var searchText = $('#txtFlavoredProduct').val();
        $.ajax({
            url: '../../../Home/SearchAllProductList?sord=' + searchText,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var html = '<ul class="lists">';
                data.forEach(function (product) {
                    html += '<li><a onclick=FlavouredAutocomplete("' + product.replace(/ /g, "-") + '")>' + product + '</a></li>';
                });
                html += '</ul>';
                $('#last_Flavored_loader').html(html);
            },
            error: function (x, y, z) {
                var data;
            }
        });
    }

    function SearchRelatedProducts() {
        var searchText = $('#txtRelatedProduct').val();
        $.ajax({
            url: '../../../Home/SearchAllProductList?sord=' + searchText,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var html = '<ul class="lists">';
                data.forEach(function (product) {
                    html += '<li><a onclick=RelatedAutocomplete("' + product.replace(/ /g, "-") + '")>' + product + '</a></li>';
                });
                html += '</ul>';
                $('#last_Related_loader').html(html);
            },
            error: function (x, y, z) {
                var data;
            }
        });
    }

    function SearchAllProducts() {
        var searchText = $('#txtProductName').val();
        $.ajax({
            url: '../../../Home/SearchAllProductList?sord=' + searchText,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var html = '<ul class="lists">';
                data.forEach(function (product) {
                    html += '<li><a onclick=ProductAutocomplete("' + product + '")>' + product + '</a></li>';
                });
                html += '</ul>';
                $('#last_Product_loader').html(html);
            },
            error: function (x, y, z) {
                var data;
            }
        });
    }

    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });
</script>

<style>
    .file-upload {
        position: relative;
        overflow: hidden;
        margin: 3px 15px;
    }

    input[type="file"] {
        display: block;
    }

    .file-upload input#files {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .thumb {
        width: 120px;
        height: auto;
        margin: 0.2em -0.7em 0 0;
    }

    .remove_img_preview {
        position: relative;
        top: -50px;
        right: 5px;
        background: black;
        color: white;
        border-radius: 50px;
        font-size: 0.9em;
        padding: 0 0.3em 0;
        text-align: center;
        cursor: pointer;
    }

        .remove_img_preview:before {
            content: "×";
        }

    #list {
        margin-left: 50px;
    }


    .thumbs {
        width: 80px;
        padding-right: 10px;
    }

    .remove_img_previews {
        position: relative;
        top: -8px;
        right: 15px;
        background: black;
        color: white;
        border-radius: 50px;
        font-size: 0.9em;
        padding: 0 0.4em 0;
        text-align: center;
        cursor: pointer;
    }

        .remove_img_previews:before {
            content: "×";
        }

    #list {
        margin-left: 50px;
    }

    .modal-body input, .modal-body select, .modal-body textarea {
        max-width: 280px;
        min-width: 75px;
    }
</style>
