﻿@model Utility.BannersInfo
@{
    /**/

    ViewBag.Title = "EditBanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Banner</h2>


<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />

<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Add Banners</label>
        </h1>
    </div>
    @if (ViewBag.BannerStatus != null)
    {
        <div class="bg-success text-white padd_15">
            <i class="fa fa-check"></i> @ViewBag.BannerStatus
        </div>
    }
    <div>
        @using (Html.BeginForm("EditBannerInfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="Banner_Id" value="@Model.BannerId" />
            <div class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label id="ctl00_ctl00_Main_Main_legSelProduct">Banner Details</label>
                    </h5>
                </div>
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Banner Page
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (ViewBag.BannerInfo == null)
                                        {
                                            <select id="ddlBannerPages" class="form-control input-sm" required onchange="BannerPages()"></select><br />
                                        }
                                        else
                                        {
                                            <select id="ddlBannerPages" class="form-control input-sm" required onchange="BannerPages()" name="Banner_Related_Id">
                                                <option value="0">Select</option>
                                                @foreach (var banner in ViewBag.BannerInfo)
                                                {
                                                    if (banner.Banner_Related_Id == Model.Banner_Related_To)
                                                    {
                                                        <option value="@banner.Banner_Related_Id" selected>@banner.Banner_Related_To</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@banner.Banner_Related_Id">@banner.Banner_Related_To</option>
                                                    }
                                                }
                                            </select><br />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Banner Value:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <select id="ddlBannerValue" class="form-control input-sm" required name="Banner_Related_Value">
                                            <option value="0">Select</option>
                                            <option value="@Model.Banner_Related_Value" selected>@Model.Banner_Related_Value_Text</option>
                                        </select>
                                        <br />
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Is Enabled:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (Model.Is_Enabled == true)
                                        {
                                            <input type="checkbox" name="Is_Enabled" value="true" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="Is_Enabled" value="false" />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="widget">
                <div class="widget_title relative_position">
                    <span class="iconsweet">r</span>
                    <h5>
                        <label>Banner Images</label>
                    </h5>
                </div>

                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li>
                            <label>
                                <label>
                                    Banner Images:
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <div class="col-sm-10 row">
                                            <input id="uploadFile" type="text" disabled="disabled" class="form-control" placeholder="Choose File" />
                                        </div>
                                    </span>
                                    <div class="file-upload btn btn-primary col-sm-2">
                                        <span>Upload</span>
                                        <input type="file" id="files" name="image_file_arr" multiple class="form-control" required="required" />
                                    </div>
                                    <div class="col-sm-12 row">
                                        <output id="list"></output>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="List">
                                @foreach (var data in Model.Banner_Images)
                                {
                                    <span>
                                        <img class="thumbs" src="../@data" style="height:100px;" />
                                        <span class="remove_img_previews"></span>
                                    </span>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                @*<button type="submit">Submit</button>*@
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("files").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };

        var count = 0;
        function handleFileSelect(evt) {
            var $fileUpload = $("input#files[type='file']");
            count = count + parseInt($fileUpload.get(0).files.length);

            if (parseInt($fileUpload.get(0).files.length) > 2 || count > 1) {
                alert("You can only upload a maximum of 1 file(s)");
                count = count - parseInt($fileUpload.get(0).files.length);
                evt.preventDefault();
                evt.stopPropagation();
                return false;
            }
            var files = evt.target.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image.*')) {
                    continue;
                }
                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/><span class="remove_img_preview"></span>'].join('');
                        document.getElementById('list').insertBefore(span, null);
                    };
                })(f);

                reader.readAsDataURL(f);
            }
        }

        $('#files').change(function (evt) {
            handleFileSelect(evt);
        });

        $('#list').on('click', '.remove_img_preview', function () {
            $(this).parent('span').remove();

            //this is not working...
            var i = array.indexOf($(this));
            if (i != -1) {
                array.splice(i, 1);
            }
            // tried this too:
            //$(this).parent('span').splice( 1, 1 );

            count--;
        });
    });

    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });
</script>

<script>
    function BannerPages() {
        var BannerPageId = $('#ddlBannerPages').val();

        if (BannerPageId == 0) {
            var html = '<option value="0">Select</option>';
            $('#ddlBannerValue').html(html);
        }
        else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../../../Home/getBannerValue?BannerPageId=' + BannerPageId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    if (BannerPageId == 1) {
                        html = '';
                        html += '<option value="1">Home</option>';
                        $('#ddlBannerValue').html(html);
                    }
                    else if (BannerPageId == 2) {
                        data.forEach(function (banner) {
                            html += '<option value="' + banner.Super_Category_Id + '">' + banner.Super_Category_Name + '</option>';
                        });
                        $('#ddlBannerValue').html(html);
                    }
                    else if (BannerPageId == 3) {
                        data.forEach(function (banner) {
                            html += '<option value="' + banner.CategoryId + '">' + banner.CategoryName + '</option>';
                        });
                        $('#ddlBannerValue').html(html);
                    }
                    else if (BannerPageId == 4) {
                        data.forEach(function (banner) {
                            html += '<option value="' + banner.SubCategoryId + '">' + banner.SubCategoryName + '</option>';
                        });
                        $('#ddlBannerValue').html(html);
                    }
                    else if (BannerPageId == 5) {
                        data.forEach(function (banner) {
                            html += '<option value="' + banner.Brand_Id + '">' + banner.Brand_Name + '</option>';
                        });
                        $('#ddlBannerValue').html(html);
                    }
                }
            });
        }
    }
</script>

<style>
    .file-upload {
        position: relative;
        overflow: hidden;
        margin: 3px 15px;
    }

    input[type="file"] {
        display: block;
    }

    .file-upload input#files {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .thumb {
        width: 120px;
        height: auto;
        margin: 0.2em -0.7em 0 0;
    }

    .remove_img_preview {
        position: relative;
        top: -50px;
        right: 5px;
        background: black;
        color: white;
        border-radius: 50px;
        font-size: 0.9em;
        padding: 0 0.3em 0;
        text-align: center;
        cursor: pointer;
    }

        .remove_img_preview:before {
            content: "×";
        }

    #list {
        margin-left: 50px;
    }
</style>