﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<style>
    #activity_stats h1 {
        margin-bottom: 20px;
        border-bottom: solid 1px #cdd1d3;
        color: #3c4143;
        font-size: 22px;
        font-family: 'CorbelBold';
        padding-bottom: 6px;
    }

    h1 {
        color: #6c6c6c;
        font-size: 16px;
    }
</style>

<div class="row" id="content_wrap" style="width: 740px;">
    <div id="cp_placeholder">
        <div id="activity_stats">
            <h1>Statistics</h1>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <h1>Order Process</h1>
        <div class="row top-summary">
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>AUTHORIZED</b> ORDERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.AuthorizedCount data-duration="3000">
                                    <a href="~/Home/AuthorizedOrders">
                                        <span id="ContentPlaceHolder1_lblAuthorizedOrders">
                                            @ViewBag.AuthorizedCount
                                        </span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>PICKUP</b> ORDERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.PickupCount data-duration="3000">
                                    <a href="~/Home/PickupOrders">
                                        <span id="ContentPlaceHolder1_lblPickupOrders">@ViewBag.PickupCount</span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>DISPATCHED</b> ORDERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.DispatchedCount data-duration="3000">
                                    <a href="~/Home/DispatchedOrders">
                                        <span id="ContentPlaceHolder1_lblDispatchedOrders">@ViewBag.DispatchedCount</span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>DELIVERED</b> ORDERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.DeliveredCount data-duration="3000">
                                    <a href="~/Home/DeliveredOrders">
                                        <span id="ContentPlaceHolder1_lblDeliveredOrders">@ViewBag.DeliveredCount</span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <h1>Product Statistics</h1>
        <div class="row top-summary">
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>TOTAL </b>PRODUCTS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.TotalProductsCount data-duration="3000">
                                    <a href="~/Home/SearchProducts">
                                        <span id="ContentPlaceHolder1_lblAuthorizedOrders">
                                            @ViewBag.TotalProductsCount
                                        </span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>ACTIVE </b>PRODUCTS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.ProductsCount data-duration="3000">
                                    <a href="~/Home/SearchProducts">
                                        <span id="ContentPlaceHolder1_lblPickupOrders">@ViewBag.ProductsCount</span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>IN-ACTIVE </b>PRODUCTS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.InActiveProductsCount data-duration="3000">
                                    <a href="~/Home/SearchProducts">
                                        <span id="ContentPlaceHolder1_lblDispatchedOrders">@ViewBag.InActiveProductsCount</span>
                                    </a>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <h1>User Statistics</h1>
        <div class="row top-summary">
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>TOTAL </b>USERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.UsersCount data-duration="3000">
                                    <span id="ContentPlaceHolder1_lblAuthorizedOrders">
                                        @ViewBag.UsersCount
                                    </span>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>ALL USERS
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>REGISTERED </b>USERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.monthlyUsersCount data-duration="3000">
                                    <span id="ContentPlaceHolder1_lblPickupOrders">@ViewBag.monthlyUsersCount</span>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>FROM LAST ONE MONTH
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="widget lightblue-1">
                    <div class="widget-content padding">
                        <div class="widget-icon">
                        </div>
                        <div class="text-box">
                            <p class="maindata"><b>REGISTERED </b> USERS</p>
                            <h2>
                                <span class="animate-number" data-value=@ViewBag.weeklyUsersCount data-duration="3000">
                                    <span id="ContentPlaceHolder1_lblDispatchedOrders">@ViewBag.weeklyUsersCount</span>
                                </span>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-caret-up rel-change"></i><b></b>FROM LAST ONE WEEK
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>