﻿
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The PharmaMart</title>
    <!-- start: MAIN CSS -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="../../assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../assets/fonts/style.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/main-responsive.css" />
    <link rel="stylesheet" href="../../assets/plugins/iCheck/skins/all.css" />
    <link rel="stylesheet" href="../../assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" />
    <link rel="stylesheet" href="../../assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../assets/css/theme_light.css" id="skin_color" />
    <link rel="icon" href="~/skin/frontend/default/megashop-pink/images/favicon.png" type="image/x-icon" />
    <!--[if IE 7]>
    <![endif]-->
    <!-- end: MAIN CSS -->
</head>


<body class="login example1">
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bg-white">
        <div class="logo">
            <img src="../skin/frontend/default/megashop-pink/images/logo.png" alt="Pharma Mart" width="220" />
        </div>
        <p>
            @if (ViewBag.LoginError != null)
            {
                <label id="lblMsg">@ViewBag.LoginError</label>
            }
        </p>


        <div class="col-lg-12">
            <h3 style="margin-top:10px;" class="text-center">Sign in to your account</h3>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-login" }))
            {

                <fieldset>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" id="txtUserName" name="UserName" />
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control" name="Password" id="txtPwd" validate="form" require="  Please enter your desired password." regular="Invalid password, the password must be 6 characters or longer." validExpress=".{6,}" />
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="form-actions">
                        <a href="#">Forgot my password?</a>
                        <button ID="btnLogIn" class="btn btn-primary pull-right">Login</button>
                    </div>
                </fieldset>
            }
        </div>

    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <![endif]-->
    <script type="text/javascript" src="../../../ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="../assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="../assets/plugins/less/less-1.5.0.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript" src="../assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../assets/js/login.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        });
    </script>
</body>
</html>





