﻿@model IEnumerable<Utility.NotifyProducts>
@{
    ViewBag.Title = "NotifyMeProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotifyMeProducts</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    Notify Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Email Id
                </th>
                <th>
                    Mobile Number
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Notify_Id</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
