﻿@model Utility.OrderDetails
@{
    ViewBag.Title = "Orderdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ImgUrl = System.Configuration.ConfigurationManager.AppSettings["ImgUrl"];
}
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />
<link href="../Orders_files/main.css" rel="stylesheet" type="text/css">
<div id="content_wrap">
    <div id="cp_placeholder">
        <!--Activity Stats-->
        <div id="activity_stats">
            <h1>
                <label id="ctl00_ctl00_Main_Main_lblPageTitle">Order Details</label>
            </h1>
        </div>
        <!--Quick Actions-->
        <div id="divMsg" class="msgbar msg_Success hide_onC" style="display: none;">
        </div>
        <div>
        </div>
        <!--One_Three-->
        <div class="one_wrap fl_left">
            <div id="ctl00_ctl00_Main_Main_UpdatePanel1">
                <input type="hidden" id="lblPtrnsId">
                <div id="divOrdersOverviewGrd">
                    <div class="one_wrap">
                        <div class="widget">
                            <div class="widget_body">
                                <div class="order_details">
                                    <ul>
                                        <li>
                                            <span class="field_caption">Order ID: </span> <span class="field_value"><span>@Model.orderInfo.PaymentTransaction_Id</span></span>
                                            <div class="fl_right text_right user_details">
                                                <p>
                                                    <span class="u_name">Name : <span>@Model.userInfo.First_Name</span></span><br>
                                                    <span class="u_name">
                                                        Mobile No : <span class="u_phone"><span>@Model.userInfo.Mobile_Number</span></span><br>
                                                        <span class="u_name">E-mail ID : <span>@Model.userInfo.Email_ID</span></span><br>
                                                        <span class="u_name">Order Status : <span style="font-size:16px; color:red;">@Model.orderCurrentStatus</span></span><br>
                                                        <span>Payment Mode : <span style="font-size:16px; color:green;">@Model.orderInfo.Payment_Mode</span></span>
                                                    </span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="order_date"><span>@Model.orderInfo.Txn_Date</span></span><br>
                                            <span>Transaction Status : <span style="font-size:16px; color:Red;font-weight:Bold;">@Model.orderInfo.Txn_Status</span></span><br>
                                        </li>
                                        <span>Message from PG : <span style="font-size:14px; color:green;">@Model.orderInfo.Txn_Message</span></span>
                                        <br>
                                        @if(Model != null && Model.packagesInfo != null && Model.packagesInfo.Count() > 0)
                                        { <span>Package Name : <strong>@Model.packagesInfo[0].Package_Name</strong></span>}
                                        

                                    </ul>
                                </div>
                                <div id="dvgrdProducts">
                                </div>
                                <div class="cp_productlist_view">
                                    <div>
                                        <table class="activity_datatable ordergrd" rules="all" id="grdProducts" style="width:100%;border-collapse:collapse;" border="1" cellpadding="8" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <th scope="col">Product Description</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Total Amount</th>
                                                </tr>
                                                @foreach (var data in Model.productsInfo)
                                                {
                                                    if (data != null)
                                                    {
                                                        <tr>
                                                            <td style="width:45%;">
                                                                <div class="product_image fl_left">
                                                                    <img src="../../Image.png" alt="Product Image" id="imgProductImage">
                                                                </div>
                                                                <div class="product_info fl_left">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="title">
                                                                                @data.Product_Name
                                                                            </div>
                                                                        </li>
                                                                        <li class="topmargin_15">
                                                                            <span id="lblSKUText">SKU: @data.Product_Id </span>
                                                                        </li>
                                                                        <li>
                                                                            <br>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span id="lblProdQuantity" style="padding-left: 3px;">@Model.paymentInfo.Where(x => x.Product_Id == data.Product_Id).FirstOrDefault().Quantity</span><br>
                                                            </td>
                                                            <td>
                                                                <span id="ProductCost"> <span class="WebRupee">Rs. </span>  @Model.paymentInfo.Where(x => x.Product_Id == data.Product_Id).FirstOrDefault().Product_Cost</span>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    decimal? Total = (Model.paymentInfo.Where(x => x.Product_Id == data.Product_Id).FirstOrDefault().Quantity * Model.paymentInfo.Where(x => x.Product_Id == data.Product_Id).FirstOrDefault().Product_Cost);
                                                                }
                                                                <span id="ctl00_ctl00_Main_Main_rptSuppliers_ctl01_grdProducts_ctl02_lblTotalPrice"> <span class="WebRupee">Rs. </span> @Total </span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                @*@foreach (var data in Model.packagesInfo)
                                                {
                                                    if (data != null)
                                                    {
                                                        <tr>
                                                            <td style="width:45%;">
                                                                <div class="product_image fl_left">
                                                                    <img src="../../Image.png" alt="Product Image" id="imgProductImage">
                                                                </div>
                                                                <div class="product_info fl_left">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="title">
                                                                                @data.Package_Name
                                                                            </div>
                                                                        </li>
                                                                        <li class="topmargin_15">
                                                                            <span id="lblSKUText">SKU: @data.Package_Id </span>
                                                                        </li>
                                                                        <li>
                                                                            <br>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span id="lblProdQuantity" style="padding-left: 3px;">@Model.paymentInfo.Where(x => x.Package_Id == data.Package_Id).FirstOrDefault().Quantity</span><br>
                                                            </td>
                                                            <td>
                                                                <span id="ProductCost"> <span class="WebRupee">Rs. </span>  @Model.paymentInfo.Where(x => x.Package_Id == data.Package_Id).FirstOrDefault().Product_Cost</span>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    decimal? Total = (Model.paymentInfo.Where(x => x.Package_Id == data.Package_Id).FirstOrDefault().Quantity * Model.paymentInfo.Where(x => x.Package_Id == data.Package_Id).FirstOrDefault().Product_Cost);
                                                                }
                                                                <span id="ctl00_ctl00_Main_Main_rptSuppliers_ctl01_grdProducts_ctl02_lblTotalPrice"> <span class="WebRupee">Rs. </span> @Total </span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }*@
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="horizontal_linetop top_margin2" style="width: 680px;">
                                        <div class="fl_right order_summery" style="width: 240px;">
                                            <table class="activity_datatable" border="0" cellpadding="8" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr id="trTotalShippingAmount">
                                                        <td class="field_caption ">
                                                            Shipping Charges :
                                                        </td>
                                                        <td class="field_value text_right">
                                                            <span class="WebRupee">Rs. </span>  @Model.orderInfo.Shipping_Charges
                                                        </td>
                                                    </tr>
                                                    @if (Model.orderInfo.Promo_Code != null)
                                                    {
                                                        <tr id="trPromocode">
                                                            <td class="field_caption ">
                                                                Coupon Code :
                                                            </td>
                                                            <td class="field_value text_right">
                                                                @Model.orderInfo.Promo_Code
                                                            </td>
                                                        </tr>
                                                        <tr id="trPromoDiscount">
                                                            <td class="field_caption ">
                                                                Coupon Discount :
                                                            </td>
                                                            <td class="field_value text_right">
                                                                <span class="WebRupee">Rs. </span> (-) @Model.orderInfo.Promo_Code_Discount
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr class="ordertotal">
                                                        <td class="field_caption text_right">
                                                            Grand Total :
                                                        </td>
                                                        <td class="field_value text_right">
                                                            <span id="lblGrandTotalPrice"> <span class="WebRupee">Rs. </span>  @Model.orderInfo.Txn_Amount</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="action_bar" id="dvButtons">
                                        @*<input value="Return/Refund" class="button_small greyishBtn  fl_right" onclick="Redirect()">*@
                                        <input value="Cancel Order" onclick="CancelOrder(@Model.orderInfo.PaymentTransaction_Id)" class="button_small greyishBtn  fl_right" type="button">
                                        @*<input value="Track Shipment" onclick="Trackshipment()" class="button_small greyishBtn  fl_right" type="button">*@
                                        @*<input value="Print Invoice" onclick="PrintInvoice()" id="btnInvoice" class="button_small greyishBtn  fl_right" type="button">*@
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inlineblock">
                            <!--Block 1 -->
                            <div class="one_two_wrap fl_left">
                                <div class="widget">
                                    <div class="widget_title">
                                        <span id="spnBillAddress" class="iconsweet">r</span>
                                        <h5>
                                            Billing Address
                                        </h5>
                                    </div>
                                    <div class="widget_body">
                                        <div class="content_pad">
                                            <p>
                                                @Model.userInfo.First_Name<br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().AddressLine1<br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().AddressLine2<br><span class="hightlight">@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().LandMark</span>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().City<br /><span class="hightlight">@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().State</span><br /><span class="hightlight"><br>Contact:@Model.userInfo.Mobile_Number</span><br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().Country,@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().Pincode<br>
                                                <a id="hypBillUserName">@Model.userInfo.Email_ID</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 1 Ends -->
                            <!-- Block 2 -->
                            <div class="one_two_wrap fl_right">
                                <div class="widget">
                                    <div class="widget_title"><span id="spnShipAddress" class="iconsweet">r</span><h5>  Shipping Address</h5></div>
                                    <div class="widget_body">
                                        <div class="content_pad">
                                            <p>
                                                @Model.userInfo.First_Name<br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().AddressLine1<br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().AddressLine2<br><span class="hightlight">@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().LandMark</span>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().City<br /><span class="hightlight">@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().State</span><br /><span class="hightlight"><br>Contact:@Model.userInfo.Mobile_Number</span><br>@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().Country,@Model.userAddresses.Where(x => x.AddressTypeId == 2).FirstOrDefault().Pincode<br>
                                                <a id="hypShipUserName">@Model.userInfo.Email_ID</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 2 ends here-->
                            <!-- Block 3 -->
                            <div class="one_two_wrap fl_left">
                                <div class="widget">
                                    <div class="widget_title"><span id="spnShipAddress" class="iconsweet">r</span><h5>  Transaction Details</h5></div>
                                    <div class="widget_body">
                                        <div class="content_pad">
                                            <p>
                                                Payment Gateway: <b>@Model.orderInfo.Payment_Gateway</b><br> Pg TxnId:<b>@Model.orderInfo.PG_Txn_Id</b><br> Status:<b>@Model.orderInfo.Txn_Status</b><br> Pg Ref No:<b>@Model.orderInfo.Txn_Ref_No</b><br> Txn Date:<b>@Model.orderInfo.Txn_Date</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 3 ends here-->
                            <!-- Block 4 -->
                            <div class="one_two_wrap fl_right">
                                <div class="widget">
                                    <div class="widget_title"><span id="spnShipAddress" class="iconsweet">r</span><h5>  Prescription Details</h5></div>
                                    <div class="widget_body">
                                        <div class="content_pad">
                                            <p>
                                                <output class="mt-2 default" id="list">
                                                    @if (Model.prescriptionList.Count() > 0)
                                                    {
                                                        foreach (var data in Model.prescriptionList)
                                                        {
                                                            <span><img class="thumb zoom" id="prescriptionId" src="@ImgUrl/@data.Prescription_Image" title="@data.Prescription_Image.Substring(@data.Prescription_Image.LastIndexOf('/') + 1)"></span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <label>No prescription(s) available.</label>
                                                    }
                                                </output>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 3 ends here-->
                            @*<br><br><table class="list">
                                    <thead><tr><td class="left"><b>Order Process</b></td></tr></thead>
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                <div class="divprocess">
                                                    <ul id="progressbar">
                                                        <li class="active">
                                                            <a id="link1" title="Authorized by 7/24/2018">Authorized <br> 7/24/2018 (0 Days)</a>
                                                        </li>
                                                        <li>
                                                            <a id="link1" title="Pickup by ">Pickup</a>
                                                        </li>
                                                        <li>
                                                            <a id="link1" title="Dispatched by ">Dispatched</a>
                                                        </li>
                                                        <li> <a id="link1" title="Delivered by ">Delivered</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>*@
                        </div>
                    </div>
                </div>
            </div>
            @*</div>
                <div class="clear">
                </div>
                <div class="widget">
                </div>
                <!-- Block 2 -->
                <div class="one_two_wrap fl_right">
                    <div class="widget">
                        <div class="widget_title">
                            <span id="spnOrderComment" class="iconsweet">r</span><h5>Post Comment</h5>
                        </div>
                        <div class="widget_body">
                            <div class="content_pad">
                                <input type="text" id="txtcomment" placeholder="Comment Here">
                                <input type="button" class="btn-orange" id="btnComment" name="btnComment" value="Comment" onclick="JavaScript: OrderComment();">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Block 2 ends here-->*@
        </div>
    </div>
</div>

<style type="text/css">

    input {
        max-width: auto;
        min-width: auto;
    }

    #tooltip label {
        margin-left: 10px;
        display: none;
        border: solid 1px #7DA7D9;
        padding: 5px;
        background-color: #ffffff;
        position: absolute;
    }

    .divprocess #progressbar {
        counter-reset: step;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .divprocess a {
        line-height: 2;
    }

    .divprocess #progressbar li {
        color: red;
        float: left;
        font-size: 10px;
        list-style-type: none;
        position: relative;
        text-transform: uppercase;
        width: 25%;
        text-align: center;
    }

        .divprocess #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            line-height: 30px;
            display: block;
            font-size: 20px;
            color: #fff;
            background: #dddddd;
            border-radius: 3px;
            margin: 0 auto;
        }

        .divprocess #progressbar li:after {
            background: none repeat scroll 0 0 red;
            content: "";
            height: 3px;
            left: -50%;
            margin-left: 2px;
            position: absolute;
            top: 15px;
            width: 100%;
        }

        .divprocess #progressbar li:first-child:after {
            content: none;
        }

        .divprocess #progressbar li.active:before, #progressbar li.active:after {
            background: none repeat scroll 0 0 #27ae60;
            color: white;
        }

    .default .thumb {
        width: 150px;
    }

    .zoom:hover {
        transform: scale(7); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style>

<script>

    function CancelOrder(orderId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../../../Home/CancelOrder?orderId=' + orderId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                alert('Order Cancelled Successfully...');
                window.location.reload();
            }
        });
    }

</script>
