﻿@model IEnumerable<Utility.OrdersList>

@{
    ViewBag.Title = "PickupOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string productName = "";
    string packageName = "";
}

<h2>Pickup Orders</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    check
                </th>
                <th>
                    Order Id
                </th>
                <th>
                    Product / Package
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Mode
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input type="checkbox" id="@item.paymentTransactionId" value="@item.paymentTransactionId" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentTransactionId)
                </td>
                <td>
                    @for (int i = 0; i < item.productName.Count(); i++)
                    {
                        if (i == 0)
                        {
                            productName = item.productName[i];
                            @productName;
                        }
                        else
                        {
                            if (item.productName[i] != null)
                            {
                                productName = productName + ", " + item.productName[i];
                                @productName;
                            }
                        }
                    }
                    @for (int i = 0; i < item.packageName.Count(); i++)
                    {
                        if (i == 0)
                        {
                            packageName = item.packageName[i];
                            <br /> @packageName;
                        }
                        else
                        {
                            if (item.packageName[i] != null)
                            {
                                packageName = packageName + ", " + item.packageName[i];
                                @packageName;
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TxnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TxnAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMode)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Count() != 0)
{
    <input type="button" value="Move to Dispatched Orders" onclick="movetoDispatchedOrders()" />
}

<div id="vpb_pop_up_background"></div>
<div id="vpb_login_pop_up_box" class="tab_content ui-tabs-panel ui-widget-content ui-corner-bottom active">
    <div style="background-image: url('../Orders_files/widget_title_bg.png'); border: medium none; border-radius: 0; height: 37px;">
        <span style="color: #FFFFFF; float: left; font-family: CorbelBold; font-size: 14px; font-weight: normal; padding: 13px 0 10px 13px; text-shadow: 0 1px 0 #1D2024">Waiting for Pickup</span>

        <div class="widget">
            <div class="widget_body">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="width: 40%; text-align: right; padding-right: 10px;">
                            <label id="Label1">Shipment ID:</label>
                        </td>
                        <td style="text-align: left; padding-left: 10px;">
                            <input name="txtShipmentID" id="txtShipmentID" type="text" style="width: 186px;"><br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; text-align: right; padding-right: 10px;">
                            <label id="Label1">Pickup ID:</label>
                        </td>
                        <td style="text-align: left; padding-left: 10px;">
                            <input name="txtPickupID" id="txtPickupID" type="text" style="width: 186px;"><br>
                            <br>
                        </td>
                    </tr>
                </table>

                <div class="action_bar text_right">
                    <input value="Ship" onclick='WaitingforPickup()' id="Submit1" class="button_small greyishBtn" type="button" />
                    <input value="Close" onclick='vpb_hide_popup_boxes()' id="Submit2" class="button_small greyishBtn" type="button" />
                </div>
            </div>
        </div>
    </div>
</div>

<link href="../Orders_files/main.css" rel="stylesheet" type="text/css">
<link href="../JavaScript/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
@*<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>*@
<script src="~/JavaScript/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../JavaScript/vpb_script.js" type="text/javascript"></script>


<script>
    var searchIDs = [];

    function movetoDispatchedOrders() {
        searchIDs = [];
        $("#table input:checkbox:checked").map(function () {
            searchIDs.push($(this).val());
        });

        if (searchIDs == null || searchIDs == '') {
            alert('Check atleast one order...');
        }
        else {
            vpb_show_login_box();
        }
    }

    function WaitingforPickup() {
        var pickupId = $('#txtPickupID').val();
        var shipmentId = $('#txtShipmentID').val();
        if (pickupId == '' && shipmentId == '') {
            alert('Enter PickupId and ShipmentId');
        }
        else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../Home/MoveToDispatchedOrders?Ids=' + searchIDs + '&pickupId=' + pickupId +'&shipmentId='+shipmentId,
                type: 'get',
                dataType: 'json',
                success: function (data) {
    confirm("Moved to Dispatched orders successfully...");
                    window.location.href = window.location.href;
                }
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
