﻿@model IEnumerable<Utility.ProductSubTypeList>

@{
    ViewBag.Title = "Product Sub Type Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />


<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Add Product SubType</label>
        </h1>
    </div>
    <div>
        @if (ViewBag.SubTypeInfo != null)
        {
            <h4>
                @ViewBag.SubTypeInfo
            </h4>
        }
    </div>
    <div>
        @using (Html.BeginForm("AddProductSubType", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="widget">
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Product Type
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (ViewBag.ProductTypes == null)
                                        {
                                            <select id="ddlProductType" class="form-control input-sm" onchange="selectProductsubTypes()"></select><br />
                                        }
                                        else
                                        {
                                            <select id="ddlProductType" name="Product_Type_Id" class="form-control input-sm" onchange="selectProductsubTypes()">
                                                <option value="0">Select</option>
                                                @foreach (var type in ViewBag.ProductTypes)
                                                {
                                                    <option value="@type.Product_Type_Id">@type.Product_Type</option>
                                                }
                                            </select><br />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Product Sub Type
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" required name="Product_Sub_Type" class="form-control input-sm" />
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productSubTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productSubType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productType)
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.productSubTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productSubType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productType)
                    </td>
                    <td>
                        @if (item.Is_Active == true && item.Is_Deleted == false)
                        {
                            <label>Active</label>
                        }
                        else
                        {
                            <label>In-Active</label>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProductSubType", new { Id = item.productSubTypeId }, new { style = "color:green" }) |
                        @if (item.Is_Active == true && item.Is_Deleted == false)
                        {
                            <a href="javascript:;" onclick="DeActivateProductSubType(@item.productSubTypeId)" style="color:Red">De-Activate</a>
                        }
                        else
                        {
                            <a href="javascript:;" onclick="ActivateProductSubType(@item.productSubTypeId)" style="color:green">Activate</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


<script>
    function DeActivateProductSubType(subtypeId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getProductSubTypeProductsCount?subtypeId=' + subtypeId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Product Sub Type... Are you sure to want to Deactivate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeProductSubTypeStatus?subtypeId=' + subtypeId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Product Sub Type De-Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }

    function ActivateProductSubType(subtypeId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getProductSubTypeProductsCount?subtypeId=' + subtypeId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Product Sub Type... Are you sure to want to Activate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeProductSubTypeStatus?subtypeId=' + subtypeId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Product Sub Type Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
