﻿@model IEnumerable<Utility.Def_Product_Type>

@{
                /**/

                ViewBag.Title = "ProductTypeInventory";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />


<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Add ProductType</label>
        </h1>
    </div>
    <div>
        @if (ViewBag.ProductTypeInfo != null)
        {
            <h4>
                @ViewBag.ProductTypeInfo
            </h4>
        }
    </div>
    <div>
        @using (Html.BeginForm("AddProductType", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="widget">
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Product Type
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" class="form-control input-sm" name="Product_Type" required />
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Type_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Type)
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Type_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Type)
                </td>
                <td>
                    @if (item.Is_Active == true && item.Is_Deleted == false)
                    {
                        <label>Active</label>
                    }
                    else
                    {
                        <label>In-Active</label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProductType", new { Id = item.Product_Type_Id }, new { Style = "color:green" }) |
                    @if (item.Is_Active == true && item.Is_Deleted == false)
                    {
                        <a href="javascript:;" onclick="DeActivateProductType(@item.Product_Type_Id)" style="color:Red">De-Activate</a>
                    }
                    else
                    {
                        <a href="javascript:;" onclick="ActivateProductType(@item.Product_Type_Id)" style="color:green">Activate</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<script>
    function DeActivateProductType(typeId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getProductTypeProductsCount?typeId=' + typeId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Product Type... Are you sure to want to Deactivate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeProductTypeStatus?typeId=' + typeId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Product Type De-Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }

    function ActivateProductType(typeId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getProductTypeProductsCount?typeId=' + typeId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Product Type... Are you sure to want to Activate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeProductTypeStatus?typeId=' + typeId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Product Type Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
