﻿@model IEnumerable<Utility.OrdersList>
@{
    ViewBag.Title = "SearchOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>*@

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
</script><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


@using (Ajax.BeginForm("GetSearchOrders", "Home", new AjaxOptions()
{
    UpdateTargetId = "divOrders",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post",
}))

{

    <div class="widget">
        <div class="widget_title relative_position">
            <span class="iconsweet">r</span>
            <h5>Search Orders</h5>
        </div>

        <div class="widget_body">
            <ul class="form_fields_container">
                <li>
                    <div class="two_colfields">
                        <label>Order Number</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <input type="text" class="form-control" id="txtOrderNo" placeholder="Order Number" name="OrderId">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="two_colfields">
                        <label>Success Status</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <select id="ddlSuccessStatus" class="form-control" name="TxnStatus">
                                        <option value="-1">Please Select</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Success">Success</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="two_colfields">
                        <label>Payment Mode</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <select id="ddlPaymentMode" class="form-control" name="PaymentMode">
                                        <option value="0">Please Select</option>
                                        <option value="POSTPAID">Cash On Delivery</option>
                                        <option value="Net Banking/Debit/Credit Card">Citrus</option>
                                        <option value="Paytm">Paytm</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="two_colfields">
                        <label>Order Status</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    @Html.DropDownList("orderCurrentStatus", new SelectList(ViewBag.orderCurrentStatus, "OrderCurrentStatusId", "OrderCurrentStatus"), "Please Select", new { @class = "form-control" })
                                    @*<select id="ddlOrderStatus" class="form-control input-sm" name="OrderStatus"></select>*@
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="two_colfields">
                        <label>From Date</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" name="FromDate" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="two_colfields">
                        <label>To Date</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel" class="form-input">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <input id="txtToDate" name="ToDate" type="text" class="form-control" placeholder="ToDate">
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="two_colfields">
                        <label>Shipment Id</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <input type="text" class="form-control" id="txtShipmentId" name="ShipmentId" placeholder="Shipment Id">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="two_colfields">
                        <label>Courier</label>
                        <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                            <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                <span id="Span2" class="oneThree">
                                    <select id="ddlCourier" name="CourierName" class="form-control">
                                        <option value="0">Please Select</option>
                                        <option value="1">DTDC</option>
                                        <option value="2">DotZot</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        @*<div style="text-align: center; font-size: 18px; font-weight: bold;">(or)</div>
            <div class="widget_body">
                <ul class="form_fields_container">
                    <li>
                        <div class="two_colfields">
                            <label id="lblMobile">Mobile No</label>
                            <div class="form_input">
                                <input id="txtMobile" class="form-control input-sm" type="text" placeholder="Mobile Number">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>*@
        <div style="text-align: center; font-size: 18px; font-weight: bold;">(or)</div>
        <div class="widget_body">
            <ul class="form_fields_container">
                <li>
                    <div class="two_colfields">
                        <label id="lblMobile">Coupon Code</label>
                        <div class="form_input">
                            <input id="txtCouponCode" class="form-control" type="text" name="PromoCode" placeholder="Coupon Code">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        @*<div style="text-align: center; font-size: 18px; font-weight: bold;">(or)</div>*@
        <div class="widget_body">
            @*<ul class="form_fields_container">
                    <li>
                        <div class="two_colfields">
                            <label id="lblProductName">Product Name</label>
                            <div class="form_input">
                                <input id="txtProductName" class="form-control input-sm" type="text" name="ProductName" placeholder="Product Name">
                            </div>
                        </div>
                    </li>
                </ul>*@
            <div class="action_bar text_right">
                <input name="btnSearch" value="Search" class="button_small greyishBtn" type="submit">
                <span>
                    <input name="btnClear" id="btnClear" value="Clear" class="button_small greyishBtn" onclick="ClearForm()" type="button">
                </span>
                <div class="clear"></div>
            </div>
        </div>

        <div class="panel-body table-responsive noSwipe" id="divOrders">
            @{Html.RenderPartial("_SearchOrders", Model);}
        </div>

    </div>

}

<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script>

    //$(document).ready(function ($) {
    //    $('#table').dataTable();
    //});

    $('#txtFromDate').datepicker({
        minDate: 0
    });

    $('#txtToDate').datepicker({
        minDate: 0
    });

    //$('#btnClear').click(function () {
    //    console.log("test");
    //    event.preventDefault();
    //});

    function ClearForm() {
        $('#txtOrderNo').val('');
        $('#ddlSuccessStatus').val('-1');
        $('#ddlPaymentMode').val('0');
        $('#orderCurrentStatus').val('');
        $('#txtFromDate').val('');
        $('#txtToDate').val('');
        $('#txtShipmentId').val('');
        $('#ddlCourier').val('0');
        $('#txtCouponCode').val('');
    }
</script>
