﻿@model IEnumerable<Utility.Tbl_Coupon_Info>

@{
    ViewBag.Title = "SearchCoupons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchCoupons</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    Coupon Code
                </th>
                <th>
                    Valid From
                </th>
                <th>
                    Valid To
                </th>
                <th>
                    Min.Cart Amount
                </th>
                <th>
                    Max. Discount Amount
                </th>
                <th>
                    Discount Type
                </th>
                <th>
                    Discount Amount/Percentage
                </th>
                <th></th>
                @*<th>
                        Discount Percentage
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="~/Home/SearchOrders/?PromoCode=@item.Coupon_Code" Style="color:red">@item.Coupon_Code</a>
                        @*<a href="" Style="color:red">@item.Coupon_Code</a>*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valid_From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valid_To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min_Cart_Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Discount_Value)
                    </td>
                    <td>
                        @if (item.Coupon_Discount_Type_Id == 1)
                        {
                            <span>Amount</span>
                        }
                        else
                        {
                            <span>Percentage</span>
                        }
                    </td>
                    <td>
                        @if (item.Coupon_Discount_Type_Id == 1)
                        {
                            <span>Rs.</span>
                            @Html.DisplayFor(modelItem => item.Coupon_Discount_Type_Value)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Coupon_Discount_Type_Value)
                            <span>%</span>
                        }

                    </td>
                    <td>
                        @Html.ActionLink("Disable", "DisableCoupons", new { Coupon_Id = item.Coupon_Id }, new { Style = "color:Green" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });

@*$(document).ready(function () {
      $.ajax({
         type: "GET",
         url: '@Html.Url("Disable", "DisableCoupons")',
         dataType: "html",
         data: { Coupon_Id : 5 },

          success: function (content) {
              window.location.href = window.location.reload();
         },
         error: function (e) { }
      });
   });*@
</script>
