﻿@model IEnumerable<Utility.BannersInfo>

@{
    ViewBag.Title = "SearchBanners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Banners</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BannerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Enabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Banner_Related_To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Banner_Related_Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Banner_Images)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BannerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Is_Enabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Banner_Ralated_To_Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Banner_Related_Value_Text)
                    </td>
                    <td>
                        @foreach (var data in item.Banner_Images)
                        {
                            <img src="@data" style="height:100px;" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditBanner", new { id = item.BannerId }, new { Style = "color:Green" })
                        <a href="javascript:;" style="color:red" onclick="DeleteBanner(@item.BannerId)">Delete</a>
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<script>
    function DeleteBanner(bannerId) {
        if (confirm('Are you sure to Delete the Banner?')) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../Home/DeleteBanner?BannerId=' + bannerId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    alert('Banner Deleted Successfuly');
                    window.location.reload();
                }
            });
        }
    }

</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>