﻿@model IEnumerable<Utility.Tbl_Packages_Info>

@{
    ViewBag.Title = "SearchPackages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchPackages</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Package_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Package_Type_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Package_Expiry_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Package_Final_Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_Products_Count)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Name)
                </td>
                <td>
                    @if (item.Package_Type_Id == 1)
                    {
                        <p>Direct Package</p>
                    }
                    else
                    {
                        <p>Customizable Package</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Expiry_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Final_Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max_Products_Count)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPackage", new { packageId = item.Package_Id }, new { Style = "color:Green" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
