﻿@model IEnumerable<Utility.Tbl_Product_Info>

@{
    ViewBag.Title = "SearchProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchProducts</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Featured)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Final_Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Prescription_Needed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Is_Featured)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Final_Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Is_Prescription_Needed)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Product_Id }, new { Style = "color:Green" })
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>