﻿@model IEnumerable<Utility.SubCategoriesList>

@{
    /**/

    ViewBag.Title = "SubCategoryInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/RichTextEditor/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/themes/advanced/skins/default/ui.css" rel="stylesheet" />
<link href="~/RichTextEditor/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css" rel="stylesheet" />
<script src="~/js/custom.js"></script>
<link href="~/Orders_files/reset.css" rel="stylesheet" />
<link href="~/Orders_files/main.css" rel="stylesheet" />
<link href="~/Orders_files/typography.css" rel="stylesheet" />
<link href="~/JavaScript/style.css" rel="stylesheet" />
<link href="~/sc/validator.css" rel="stylesheet" />
<script src="~/sc/jquery.min.js"></script>
<script src="~/sc/jquery.validator-0.3.6.min.js"></script>
<link href="~/Styles/css/stylesheet/stylesheet.css" rel="stylesheet" />


<div id="ctl00_ctl00_Main_Main_dvCheckPageControl">
    <div id="activity_stats">
        <h1>
            <label id="ctl00_ctl00_Main_Main_lblPageTitle">Add Category</label>
        </h1>
    </div>
    <div>
        @if (ViewBag.SubCatInfo != null)
        {
            <h4>
                @ViewBag.SubCatInfo
            </h4>
        }
    </div>
    <div>
        @using (Html.BeginForm("AddSubCategory", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="widget">
                <div class="widget_body">
                    <ul class="form_fields_container">
                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Super Categories
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        @if (ViewBag.SuperCategories == null)
                                        {
                                            <select id="ddlSuperCategories" class="form-control input-sm" onchange="selectCategories()"></select><br />
                                        }
                                        else
                                        {
                                            <select id="ddlSuperCategories" name="Super_Category_Id" class="form-control input-sm" onchange="selectCategories()">
                                                <option value="0">Select</option>
                                                @foreach (var super in ViewBag.SuperCategories)
                                                {
                                                    <option value="@super.Super_Category_Id">@super.Super_Category_Name</option>
                                                }
                                            </select><br />
                                        }
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Category
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <select id="ddlCategories" name="Category_Id" class="form-control input-sm"></select><br />
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li id="ctl00_ctl00_Main_Main_lblCat">
                            <label>
                                <label>
                                    Sub Category
                                </label>
                                <span class="cp_mandatory_field">*</span>
                            </label>
                            <div id="ctl00_ctl00_Main_Main_dvStoreWithLabel">
                                <div id="ctl00_ctl00_Main_Main_dvStoreCategory">
                                    <span id="Span2" class="oneThree">
                                        <input type="text" required name="Sub_Category_Name" class="form-control input-sm" />
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="globalaction_bar text_right" style="padding-bottom: 4px;">
                <input type="submit" name="" value="submit" class="button_small greyishBtn" style="margin-top: 2px;">
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    <label>Id</label>
                </th>
                <th>
                    <label>Super Category Name</label>
                </th>
                <th>
                    <label>Category Name</label>
                </th>
                <th>
                    <label>Sub Category Name</label>
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SuperCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoryName)
                    </td>
                    <td>
                        @if (item.Is_Active == true && item.Is_Deleted == false)
                        {
                            <label>Active</label>
                        }
                        else
                        {
                            <label>In-Active</label>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditSubCategory", new { Id = item.SubCategoryId }, new { Style = "color:green" }) |
                        @if (item.Is_Active == true && item.Is_Deleted == false)
                        {
                            <a href="javascript:;" onclick="DeActivateSubCategory(@item.SubCategoryId)" style="color:Red">De-Activate</a>
                        }
                        else
                        {
                            <a href="javascript:;" onclick="ActivateSubCategory(@item.SubCategoryId)" style="color:green">Activate</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<script>
    function DeActivateSubCategory(subCatId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getSubCategoryProductsCount?subCatId=' + subCatId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Category... Are you sure to want to Deactivate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeSubCategoryStatus?subCatId=' + subCatId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Sub Category De-Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }

    function ActivateSubCategory(subCatId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../Home/getSubCategoryProductsCount?subCatId=' + subCatId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (confirm('There are ' + data + ' products in this Category... Are you sure to want to Activate?')) {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../Home/ChangeSubCategoryStatus?subCatId=' + subCatId,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            alert('Sub Category Activated...');
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }
</script>

<script>
    function selectCategories() {
        var superCatId = $('#ddlSuperCategories').val();
        if (superCatId == 0) {
            alert('Select Super CAtegory');
        } else {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '../Home/CategoriesBySuperCategory?superCatId=' + superCatId,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var html = '<option value="0">Select</option>';
                    data.forEach(function (category) {
                        html += '<option value="' + category.Category_Id + '">' + category.Category_Name + '</option>';
                    });
                    $('#ddlCategories').html(html);
                }
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>