﻿@model IEnumerable<Utility.Tbl_User_Info>

@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsersList</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wallet_Balance)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="~/Home/UserOrders/@item.User_Id" Style="color:red">@item.User_Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Login)
                </td>
                <td>
                    <a href="~/Home/UserWallet/@item.User_Id" Style="color:green">₹ @Convert.ToDouble(item.Wallet_Balance).00</a>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable();
    });
</script>
