﻿@model IEnumerable<Utility.TBL_Wallet_Transactions>

@{
    ViewBag.Title = "UserWallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserWallet</h2>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentTransactionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PGTxnId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wallet_Paymentmode_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TxnAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TxnDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentTransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PGTxnId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wallet_Paymentmode_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TxnAmount)
                </td>
                <td>
                    <i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.TxnDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#table').dataTable({
            "order": [[4, "desc"]]
        });
    });
</script>