/*********************************************************************
* This script has been released with the aim that it will be useful.
* Written by Vasplus Programming Blog
* Website: www.vasplus.info
* Email: Customercare@vasplus.info
* All Copy Rights Reserved by Vasplus Programming Blog
***********************************************************************/



/*General Pop-up Background*/
#vpb_pop_up_background, #vpb_pop_up_background1
{
	display:none;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
    opacity:.5;
	background:#000000;
	border:1px solid #cecece;
	position:fixed;
	z-index:99999999;
}


/*Sign Up Box*/
#vpb_signup_pop_up_box, #vpb_signup_pop_up_box1
{
	display:none;
	width:420px;
	border: solid 1px #000;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	top: 1%; 
	position:fixed;
	z-index:9999999999;
    background:#fff;
}

/*Login Box*/
#vpb_login_pop_up_box, #vpb_login_pop_up_box1, #vpb_login_pop_up_box_edit
{
    display:none;
	width:420px;
    border-width: 0;
  
	 z-index: 1002;
	  outline: 0px none; 
	  position: fixed; 
	  height: auto; width: 800px;
	
	width: auto;
	 min-height: 113px; height: auto;
	font-size:11px;
	top: 20%; 
	
	z-index:9999999999;
}


#loginbox
{
   display:none;
	width:420px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
  
	background-color: #FFF;
	box-shadow: 0 0 20px #000;

	 z-index: 1002;
	  outline: 0px none; 
	  position: fixed; 
	  height: auto; width: 800px;
	   top: 43.5px; left: 320px;
	
	width: auto;
	 min-height: 113px; height: auto;
	font-size:11px;
	top: 20%; 
	right: 30%; 
	
	z-index:9999999999;
}


#notifyme
{
  display:none;
	width:420px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
  
	background-color: #FFF;
	box-shadow: 0 0 20px #000;

	 z-index: 1002;
	  outline: 0px none; 
	  position: fixed; 
	  height: auto; width: 709px;
	   top: 43.5px; left: 320px;
	
	width: 0px;
	 min-height: 113px; height: auto;
	font-size:11px;
	top: 30%; 
	right: 30%; 
	
	z-index:9999999999;
}

/*Textarea Boxes and Input Boxes Style*/
.vpb_textAreaBoxInputs {min-width:260px; width:auto;height:20px;font-family:Verdana, Geneva, sans-serif; font-size:12px;padding:7px; padding-left:10px; padding-right:10px;border: 1px solid #6CF;outline:none;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius:2px; line-height:20px;}
.vpb_textAreaBoxInputs:focus {outline:none;border: 1px solid #6CF;box-shadow: 0 0 10px #6AB5FF;-moz-box-shadow: 0 0 10px #6AB5FF;-webkit-box-shadow: 0 0 10px #6AB5FF;}



/*Vasplus Button*/
.vpb_general_button 
{
 background-color: #D9387E;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #D9387E));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #D9387E);
  background-image: -moz-linear-gradient(top, #D9387E, #D9387E);
  background-image: -ms-linear-gradient(top, #D9387E, #D9387E);
  background-image: -o-linear-gradient(top, #D9387E, #D9387E);
  background-image: linear-gradient(top, #D9387E, #D9387E);
  border: 2px solid #D9387E;box-shadow: 0 2px 3px #666666;-moz-box-shadow: 0 2px 3px #666666;-webkit-box-shadow: 0 2px 3px #666666;
  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
  color: #fff;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  min-width: 70px;
  width: auto;
  padding:9px;
  padding-left:13px; padding-right:13px;padding-bottom:7px;
  text-decoration:none;
  float:left;
  margin-right:30px;
}
.vpb_general_button:hover 
{
    background-color: #D9387E;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9387E), color-stop(100%, #D9387E));
    background-image: -webkit-linear-gradient(top, #D9387E, #D9387E);
    background-image: -moz-linear-gradient(top, #D9387E, #D9387E);
    background-image: -ms-linear-gradient(top, #D9387E, #D9387E);
    background-image: -o-linear-gradient(top, #D9387E, #D9387E);
    background-image: linear-gradient(top, #D9387E, #D9387E);
    box-shadow: 0 2px 3px #fff;
    color: #fff;
	-moz-box-shadow: 0 2px 3px #fff;
	-webkit-box-shadow: 0 2px 3px #fff;
	-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
    cursor: pointer; 
}

#vpb_signup_pop_up_box, #vpb_signup_pop_up_box1 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    display: none;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    left: 33%;
    padding: 10px 20px;
    position: fixed;
    top: 10%;
    width: 420px;
    z-index: 2147483647;
}